﻿@model SignInInput
@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {
        $("#pageData").kendoWindow({
            title: "Login",
            draggable: false,
            modal: false,
            width: $("#splitter").width() - 244,
            height: $(".splitter-main").height() - 33,
            position: {
                top: $("#Header").height() + 2,
                left: 246
            },
            resizable: false
        });
        //removes all buttons from kendo window
        $('.k-window-titlebar').find('.k-window-actions').css('visibility', 'hidden');

        //add tooltip to forgot button
        $('#btnForgot').kendoTooltip({
            height: 100,
            width: 175
        });
    })
</script>
<div id="pageData">
    <div style="margin:auto;width:600px;">
        @*@using (Html.BeginForm())
            {
                    @Html.EditorFor(o => o.Login)
                    @Html.EditorFor(o => o.Password)
                    @Html.EditorFor(o => o.Remember)
                    <div class="efield">
                        <div class="elabel">&nbsp;</div>
                        <input type='submit' value='log in' />

                    </div>
            }*@
        @using (Ajax.BeginForm("SignIn", "Account", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "main-body", OnSuccess = "LoadScreenIconsAndWeather()" }))
        {
            <div style="width:100%; margin: 59px auto;text-align:center">
                    <h2 class="signInHeader">Sign In</h2>
                    @Html.EditorFor(o => o.Username)
                    @Html.EditorFor(o => o.Password)
                    @Html.EditorFor(o => o.Remember)<br />
                <div style="width:110%"><input type="submit" value="Log In" id="btnSignIn" />&nbsp;<input id="btnForgot" value="I forgot my password" type="button" title="If you have forgot your password and need it reset, please contact your system administrator for assistance."/></div>
            </div>
        }
        <script>
            $('#btnForgot').click(function (e) {
                e.preventDefault();
            })

            function LoadScreenIconsAndWeather() {
                $.ajax({
                    url: '/ScreenIcon/GetScreenIcons',
                    type: "GET",
                    contentType: 'text/html',
                    data: {
                        clientName: "SWA"
                    },
                    success: function (data) {
                        $('#tblScreenNav').html(data);
                        //hide the link text for gate list and show the icons on startup on the slide-in-handle splitter column
                        if ($('#slide-in-handle').is(':visible')) {
                            $('[class^="screen-text"]').hide();
                            //$('[class^="screen-icon"]').css('height', '25px');
                        }
                    }
                });
                $.ajax({
                    url: '/Weather/GetWeatherData',
                    type: "GET",
                    contentType: 'text/html',
                    data: {
                        clientName: "SWA"
                    },
                    success: function (data) {
                        $('#WeatherPlaceHolder').html(data);
                    }
                });
            }
        </script>

        @Html.ValidationSummary(true)
    </div>
</div>
