﻿@{
    string text = String.Empty;
    for (var a = 1; a <= (int)TempData["MaxScreens"]; a++)
    {
        if (a == 1)
        {
            switch (TempData["ClientName"].ToString())
            {
                case "CID":
                    text = "CID Airport";
                    break;
                case "SLL":
                    text = "Salalah Airport";
                    break;
                default:
                    text = "No name client";
                    break;
            }
        }
        else
        {
            text = "Gate " + (a - 1).ToString();
        }
        <tr class="screen-ajax@(a)">
            <td class="screen-icon@(a)"></td>
            <td class="screen-text@(a)">@text</td>
        </tr>
    }
}
<!--Because jquery syntax does not like razor tags, input will be used instead-->
<input type="hidden" id="txtScreenNumber" value='@TempData["MaxScreens"]' />
<script>
    var slide = kendo.fx($("#slide-in-share")).slideIn("right"), visible = true;

    $("#slide-in-handle").click(function (e) {
        toggleSlide(e);
    });

    $('[class^="screen-icon"],[class^="screen-text"]').click(function (e) {
        if (!visible) {
            slide.duration(0).play();
            $('[class^="screen-icon"]').css('height', '25px');
            $('[class^="screen-text"]').hide();
            $("#slide-in-share").css("margin-left", "0px")
            $("#slide-in-share").width("40px");
            $("#slide-in-wrapper").width("40px");
            visible = !visible;
        }
    })

    //function toggleSlide(e) {
    //    if (visible) {
    //        $('[class^="screen-text"]').show();
    //        slide.duration(0).reverse();
    //        $("#slide-in-share").css("margin-left", "43px")
    //        $("#slide-in-share").width("240px");
    //        $("#slide-in-wrapper").width("240px");
    //        $('[class^="screen-icon"]').css('height', '25px');
    //        $('[class^="screen-text"]').css('height', '25px');

    //    } else {
    //        slide.duration(0).play();
    //        $('[class^="screen-icon"]').css('height', '25px');
    //        $('[class^="screen-text"]').hide();
    //        $("#slide-in-share").css("margin-left", "0px")
    //        $("#slide-in-share").width("40px");
    //        $("#slide-in-wrapper").width("40px");

    //    }
    //    visible = !visible;
    //    e.preventDefault();
    //}

    $('[class^="screen-text"]').css('color', '#FFF');
    $('[class^="screen-text"]').css('text-decoration', 'underline');
    $('[class^="screen-text"]').css('cursor', 'pointer');
    $('[class^="screen-text"]').css('padding-top', '3px');

    //set default icons on first loadup
    for (var a = 1; a <= $('#txtScreenNumber').val() ; a++) {
        if (a === 1)
            $('.screen-icon' + a).addClass('iconSelectedTop');
        else
            $('.screen-icon' + a).addClass('iconNormalBottom');
    }

    //render javascript for screen icon buttons
    $.ajax({
        url: '/ScreenIcon/WriteScreenAjaxCalls',
        type: 'GET',
        data: {
            clientName: '@TempData["ClientName"]',
            numberOfScreens: '@TempData["MaxScreens"]'
        },
        dataType: 'script'
    })


    function CloseKendoWindow() {
        var gateWindow = $('#GateWindow').data('kendoWindow');
        var airportWindow = $('#AirportWindow').data('kendoWindow');
        var pcaWindow = $('#PCAWindow').data('kendoWindow');
        var gpuWindow = $('#GPUWindow').data('kendoWindow');
        var signInWindow = $('#pageData').data('kendoWindow');
        var gateAlarmWindow = $('#GateAlarmWindow').data('kendoWindow');
        var gpuAlarmWindow = $('#GPUAlarmWindow').data('kendoWindow');
        var pcaAlarmWindow = $('#PCAAlarmWindow').data('kendoWindow');

        if (gateWindow)
            $('#GateWindow').data('kendoWindow').destroy();
        if (airportWindow)
            $('#AirportWindow').data('kendoWindow').destroy();
        if (pcaWindow)
            $('#PCAWindow').data('kendoWindow').destroy();
        if (gpuWindow)
            $('#GPUWindow').data('kendoWindow').destroy();
        if (signInWindow)
            $('#pageData').data('kendoWindow').destroy();
        if (gateAlarmWindow)
            $('#GateAlarmWindow').data('kendoWindow').destroy();
        if (gpuAlarmWindow)
            $('#GPUAlarmWindow').data('kendoWindow').destroy();
        if (pcaAlarmWindow)
            $('#PCAAlarmWindow').data('kendoWindow').destroy();
    }

    function ChangeIcons(iconNum) {
        for (var b = 1; b <= $('#txtScreenNumber').val() ; b++) {
            if (b === 1) {
                if (b === iconNum) {
                    $('.screen-icon' + b).removeClass('iconNormalTop');
                    $('.screen-icon' + b).addClass('iconSelectedTop');
                }
                else {
                    $('.screen-icon' + b).removeClass('iconSelectedTop');
                    $('.screen-icon' + b).addClass('iconNormalTop');
                }
            }
            else {
                $('.screen-icon' + b).removeClass('iconSelectedTop');
                $('.screen-icon' + b).addClass('iconNormalTop');
                if (b === iconNum) {
                    $('.screen-icon' + b).removeClass('iconNormalBottom');
                    $('.screen-icon' + b).addClass('iconSelectedBottom');
                }
                else {
                    $('.screen-icon' + b).removeClass('iconSelectedBottom');
                    $('.screen-icon' + b).addClass('iconNormalBottom');
                }
            }
        }
    }

</script>
