﻿@using System.Threading
@using System.Web.Mvc.Html;
@using System.Web.Optimization;

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> @ViewBag.Title - @Mui.iOps </title>
    <script type="text/javascript">
            //OPC_config =
            //{
            //    auto_start: true,
            //    serverURL: "http://74.208.68.17:58725"
            //    tag_prefix: "\\\\74.208.68.17\\RemoteSCADAHosting.XI3-PC."
        //};
        //serverURL: 'http://10.10.101.35:58725'
        OPC_config = {
            token: '7e61b230-481d-4551-b24b-ba9046e3d8f2',
            serverURL: 'http://10.10.101.34:58724'
        };
        </script>
    @Scripts.Render("~/bundles/Add-Ons/js")
    @Styles.Render("~/Content/Add-Ons/css")
    @Styles.Render("~/bundles/Site/css")

    @* Apply the base THEME *@
    @Styles.Render("~/Content/Themes/css")

    @* CSW20140917-ToDo: Change the path contruction from Web.Config AppSettings to Organization Controller data values *@
    @Styles.Render("~/Content/Themes/" + System.Web.Configuration.WebConfigurationManager.AppSettings["ClientAbbreviation"] + "/" + System.Web.Configuration.WebConfigurationManager.AppSettings["ClientThemeVersion"] + "/css")

    @* jquery-migrate needed for ie8 when using jquery.validate.unobtrusive with jquery 1.9 and higher
        <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>*@

    @Styles.Render("~/Content/kendo/css")
    @Styles.Render("~/Content/kendo/dataviz/css")
    @Scripts.Render("~/bundles/kendo/js")

    <script src="@Url.Content("~/Scripts/AwesomeMvc.js")?v=81" type="text/javascript"></script>
    @Scripts.Render("~/bundles/Site/js")
    @Scripts.Render("~/Content/Themes/" + System.Web.Configuration.WebConfigurationManager.AppSettings["ClientAbbreviation"] + "/" + System.Web.Configuration.WebConfigurationManager.AppSettings["ClientThemeVersion"] + "/js")


    <script type="text/javascript">

        //used in Site.js
        var _root = '@(Url.Content("~"))';
        var _isMobileOrTablet = '@(Utils.IsMobileOrTablet())' == "True";
        var _controller = '@(ViewContext.RouteData.Values["Controller"].ToString().ToLower())';
        var _action = '@(ViewContext.RouteData.Values["Action"].ToString().ToLower())';

        setjQueryValidateDateFormat('@(JQueryDate.ConvertDateFormat(Thread.CurrentThread.CurrentCulture.DateTimeFormat.ShortDatePattern))');
    
    </script>
    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lte IE 7]>
        <script src="js/IE8.js" type="text/javascript"></script>
    <![endif]-->
    <!--[if lt IE 7]>
        <link rel="stylesheet" type="text/css" media="all" href="css/ie6.css"/>
    <![endif]-->

    <script src="@Url.Content("~/Scripts/kendo/2014.3.1411/jszip.min.js")"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
</head>
<body id="index" class="home">
    <noscript>
        <div id=" nos">
            this site works best with javascript allowed
        </div>
    </noscript>
    @*@Html.Partial("doggy")*@
    <header>
        @Html.Partial("~/Views/Header/_Header.cshtml")
    </header>
    <hr style="display:block;border-width:1px;border-style:solid; margin:1px 0 1px 0;padding:0" />
    <div id="main" class="maindiv cont">
        <div class="settings cbt">
            <label for="chTheme">Theme:@Html.Action("Index", "ChangeTheme", new { area = "" })</label>
            <label for="chLang">Lang:@Html.Action("index", "mui", new { area = "" })</label>
            @*<label>
                    <button type="button" id="chDog" class="awe-btn">hide dog</button>
                </label>*@
        </div>
        <div id="splitter">
            <div class="splitter-stats">
                <div class="stats-001">
                    OPERATIONS
                </div>
            </div>
            <div class="splitter-main">
                <div id="slide-in-wrapper">
                    <div id="slide-in-share">
                        <a id="slide-in-handle" href="#">Share</a>
                        <div id="slide-in-content">
                            <table id="tblStatus" cellpadding="0" cellspacing="0"></table>
                        </div>

                    </div>
                </div>
                <div class="main-body" id="main-body">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <footer>

        <div class="cont" style="visibility:hidden; display:none;">
            @*<span>
                    <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2Faspnet-mvc-project-awesome%2F145701755486515&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:103px; height:21px;margin-top:5px;" allowtransparency="true"></iframe>
                </span>*@
            @*<span style="margin: 10px; float: right;">
                    <a href="https://twitter.com/share"
                       class="twitter-share-button" data-url="http://prodinner.aspnetawesome.com" data-count="none"
                       data-hashtags="aspnetawesome">Tweet</a>
                    <script>
                        !function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (!d.getElementById(id)) {
                                js = d.createElement(s);
                                js.id = id;
                                js.src = "//platform.twitter.com/widgets.js";
                                fjs.parentNode.insertBefore(js, fjs);
                            }
                        }(document, "script", "twitter-wjs");</script>
                </span><br /><span>
                    <a href='http://prodinner.codeplex.com'>project home: http://prodinner.codeplex.com</a>
                </span>*@
        </div>
        <p style="text-align:center">Copyright &copy; 2014 JBT - iOps 2014</p>
    </footer>
</body>
</html>
