﻿.Gate-Window {
    height: 860px;
    background-image: url(Images/Jetway-Bridge.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
}
.Gate-Window table
{
    width: 50%;
}
.k-window 
{
    z-index:100 !important;
}
.k-window-titlebar 
{
    background-color: #BFBFBF !important; 
}
.k-window-title 
{
    font-weight: bold !important;
}