﻿/* Weather Widget Selectors */
.Header-Weather 
{
    flex: 0 115px !important;
    align-items: center;
    height: 100%;
    padding: 10px 0px;
}
.Header-Weather-Layout
{
    align-self: flex-start;
    text-align: center;
    width: 100%;
    height: 100%;
    border-left: 1px dotted #D9D9D9;
    padding: 20px 5px;
}
