﻿.Airport-Window {
    height: 860px;
    background-image: url(Images/CID-WAC-at-gate.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    position: relative;
}

.Airport-Window #gates_container {
    width:100%;
    position:relative;
    box-sizing:border-box;
}

.Airport-Window #gates_container .img {
    width:100%;
    position:absolute;
    top:0;
    left:0;
}
.Airport-Window #gates_container #building { 
    content:url(Images/gates/00_building.gif); 
    position:relative !important;
}
/* single-gates */
.Airport-Window #gates_container #g1_1 { content:url(Images/gates/01_g1.gif); }
.Airport-Window #gates_container #g1_2 { content:url(Images/gates/01_g2.gif); }
.Airport-Window #gates_container #g1_3 { content:url(Images/gates/01_g3.gif); }
.Airport-Window #gates_container #g1_4 { content:url(Images/gates/01_g4.gif); }
/* double-gates */
.Airport-Window #gates_container #g2_1 { content:url(Images/gates/02_g1.gif); }
.Airport-Window #gates_container #g2_2 { content:url(Images/gates/02_g2.gif); }
.Airport-Window #gates_container #g2_3 { content:url(Images/gates/02_g3.gif); }
.Airport-Window #gates_container #g2_4 { content:url(Images/gates/02_g4.gif); }
/* single-aircraft */
.Airport-Window #gates_container #a1_L { content:url(Images/gates/03_g1_2.gif); }
.Airport-Window #gates_container #a1_R { content:url(Images/gates/03_g1_1.gif); }
.Airport-Window #gates_container #a2_L { content:url(Images/gates/03_g2_2.gif); }
.Airport-Window #gates_container #a2_R { content:url(Images/gates/03_g2_1.gif); }
.Airport-Window #gates_container #a3_L { content:url(Images/gates/03_g3_2.gif); }
.Airport-Window #gates_container #a3_R { content:url(Images/gates/03_g3_1.gif); }
.Airport-Window #gates_container #a4_L { content:url(Images/gates/03_g4_2.gif); }
.Airport-Window #gates_container #a4_R { content:url(Images/gates/03_g4_1.gif); }
/* double-aircraft */
.Airport-Window #gates_container #a1_D { content:url(Images/gates/04_g1_1.gif); }
.Airport-Window #gates_container #a2_D { content:url(Images/gates/04_g2_1.gif); }
.Airport-Window #gates_container #a3_D { content:url(Images/gates/04_g3_1.gif); }
.Airport-Window #gates_container #a4_D { content:url(Images/gates/04_g4_1.gif); }

.Airport-Window #gates_container a.gate_link {
    position:absolute;
    white-space:nowrap;
    border:none;
    width:auto !important;
}
.Airport-Window #gates_container .gate_fire {
    padding: 3px 5px;
    background-color: #c00;
    color: #fff;
    font-weight: bold;
    font-size:12px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.1);
    text-decoration:none !important;
    margin-top:3px;
}
.Airport-Window #gates_container .gate_fire:after {
    content:"Fire Alarm";
}
.Airport-Window #gates_container a.gate_link#g11L { top:58%;left:90%; }
.Airport-Window #gates_container a.gate_link#g11R { top:68%;left:80%; }
.Airport-Window #gates_container a.gate_link#g12L { top:58%;left:67%; }
.Airport-Window #gates_container a.gate_link#g12R { top:68%;left:56%; }
.Airport-Window #gates_container a.gate_link#g13L { top:58%;left:44%; }
.Airport-Window #gates_container a.gate_link#g13R { top:68%;left:33%; }
.Airport-Window #gates_container a.gate_link#g14L { top:58%;left:21%; }
.Airport-Window #gates_container a.gate_link#g14R { top:68%;left:8%; }


.k-window {
    z-index: 100 !important;
}

.k-window-titlebar {
    background-color: #BFBFBF !important;
}

.k-window-title {
    font-weight: bold !important;
}

/*CSS for gate image links*/
#AirportWindow ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#AirportWindow a {
    /*/text-indent: -1000em;*/
    position: absolute; /*hides the linked copy within the li tags to the left of the window */
    width: 50px;
    height: 25px;
    font-weight:bold;
    color:#000000;
    border: 1px solid yellow
}


    #AirportWindow a:hover {
        cursor: pointer;
    }

#AirportWindow .gate6 a {
    /*top: 275px;*/
    /*left: 1025px*/
    top: 28%;
    left: 18%;
}

#AirportWindow .gate5 a {
    /*top: 275px;*/
    /*left: 1025px*/
    top: 77%;
    left: 29%;
}

#AirportWindow .gate4 a {
    /*top: 275px;*/
    /*left: 1025px*/
    top: 18%;
    left: 40%;
}

#AirportWindow .gate3 a {
    /*top: 275px;*/
    /*left: 1025px*/
    top: 55%;
    left: 56%;
}

#AirportWindow .gate2 a {
    /*top: 275px;*/
    /*left: 1025px*/
    top: 8%;
    left: 55%;
}

#AirportWindow .gate1 a {
    /*top: 275px;*/
    /*left: 1025px*/
    top: 35%;
    left: 82%;
}

/*END OF CSS Image LInk*/