﻿.Gate-Window {
    height: 860px;
    /* background-image: url('Images/Jetway-Bridge.png'); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    margin: auto auto;
    display: block;
}

.AutoLevelingTrue {
    background-image: url(Images/PBB-WAC_v1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
}

.AutoLevelingFalse {
    background-image: url(Images/PBB-NOAC_v1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
}

.k-window {
    z-index: 100 !important;
}

.k-window-titlebar {
    background-color: #BFBFBF !important;
}

.k-window-title {
    font-weight: bold !important;
    margin-left: 10px;
}

/*changes background link for icons in Kendo Window*/
#gateWindowLink0 {
    background-image: url('Images/upArrow.gif');
}


/*CSS for PCA image link*/
#GateWindow ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.hoverLinks{
    position: absolute;
    text-indent: -1000em; /*hides the linked copy within the li tags to the left of the window */
}

.hoverLinks a:hover{
    cursor: pointer;
    -moz-box-shadow: 0 0 0 5px #f2e3e3;
    -webkit-box-shadow: 0 0 0 5px #f2e3e3;
    box-shadow: 0 0 0 5px #f2e3e3;
    -moz-transition: -moz-box-shadow .3s;
    -webkit-transition: -webkit-box-shadow .3s;
    transition: box-shadow .3s;
}

#pcaLink {
    top: 48%;
    left: 68%;
    width: 93px;
    height: 55px;
    border: 4px solid yellow;
    cursor: pointer;
    visibility:hidden
}

#jetPowerLink {
    top: 43%;
    left: 90%;
    width: 119px;
    height: 100px;
    border: 4px solid blue;
    cursor: pointer;
    visibility:hidden
}

#pcaLinkButtonInGateScreen {
    color: blue;
    position: relative;
    top: 5px;
    left: 15%;
    font-size: 20px;
    width: 122px;
    background: transparent;
}

#gpuLinkButtonInGateScreen {
    color: blue;
    position: relative;
    top: 5px;
    left: 19%;
    font-size: 20px;
    width: 128px;
    background: transparent;
}

#showServiceCounters {
    color: blue;
    position: relative;
    top: 5px;
    left: 24%;
    font-size: 20px;
    width: 128px;
    background: transparent;
}

/*Kendo tooltip styles*/
.k-widget.k-tooltip.k-popup.k-group.k-reset {
    width: 20px;
    height: 20px;
    background: black;
    color: white;
}

.gatesPageDividerLeft {
    float:left
}

.gatesPageDividerRight {
  width: 51%;
  float: right
}

#GateWindow #tblPoints .pointsTableRowHeader, #GateWindow #tblGatePoints .pointsTableRowHeader{
    background-color: #5d892b;
    color: #FFF;
    height: 30px;
}

#GateWindow #tblPoints .pointsTableHeader, #GateWindow #tblGatePoints .pointsTableHeader{
    text-align: center;
}

#GateWindow #tblPoints{
    border-collapse: collapse;
    width: 500px;
    opacity: .8
}

#GateWindow #tblGatePoints{
    border-collapse: collapse;
    width:445px;
    opacity: .8;
    margin: 52% 0 0 0
}

#GateWindow #tblPoints th,#GateWindow #tblPoints td,#GateWindow #tblGatePoints th, #GateWindow #tblGatePoints td{
    border: 1px solid #8ed43e;
}


#GateWindow .pointsTable tr:nth-child(even){
    background-color:#dcdcdc;
}

#GateWindow .pointsTable tr:nth-child(odd){
    background-color:#fff
}

#GateWindow .pointsTableDataCells {
    text-align: center;
    width: 241px;
    font-weight:bold;
    height: 30px;
}

/*ALARM POPUP DISPLAY*/
#GateAlarmWindow #tblAlarms{
    border-collapse: collapse;
    width:300px
}

#GateAlarmWindow #tblAlarms .rowHeader{
    background-color:#5d892b;
    color:#FFF;
}

#GateAlarmWindow #tblAlarms .alarmTableHeader{
    text-align:center;
}

#GateAlarmWindow #tblAlarms th, #GateAlarmWindow #tblAlarms td{
    border: 1px solid #8ed43e;
}

#GateAlarmWindow .alarmTable tr:nth-child(even){
    background-color:#dcdcdc;
}

#GateAlarmWindow .alarmTable tr:nth-child(odd){
    background-color:#FFF;
}

#GateAlarmWindow #tblAlarms .alarmDataCells{
    text-align:center;
}

/*Hide*/
#GateWindow .btnInvisible #GateAlarmWindow .btnInvisible{
    visibility: hidden
}

#GateWindow .btnRed, #GateAlarmWindow .btnRed {
    -moz-box-shadow: 3px 4px 0px 0px #FEA1A1;
    -webkit-box-shadow: 3px 4px 0px 0px #FEA1A1;
    box-shadow: -1px 3px 0px 0px #BBB8B8;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.10, #FEA1A1), color-stop(1, #B30602));
    background: -moz-linear-gradient(top, #FEA1A1 10%, #B30602 100%);
    background: -webkit-linear-gradient(top, #FEA1A1 10%, #B30602 100%);
    background: -o-linear-gradient(top, #FEA1A1 10%, #B30602 100%);
    background: -ms-linear-gradient(top, #FEA1A1 10%, #B30602 100%);
    background: linear-gradient(to bottom, #FEA1A1 10%, #B30602 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEA1A1', endColorstr='#B30602',GradientType=0);
    background-color: #FEA1A1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #7D5253;
    display: inline-block;
    cursor: default;
    color: #FFFFFF;
    font-family: arial;
    font-size: 16px;
    padding: 2px 47px;
    margin: 1px 0px 3px 0px;
    text-decoration: none;
    text-shadow: 0px 1px 10px #5F142D;
}

/*#GateWindow .btnRed:hover, #GateAlarmWindow .btnRed:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #8b0d0d), color-stop(1, #FAB4B4));
    background:-moz-linear-gradient(top, #8b0d0d 5%, #FAB4B4 100%);
    background:-webkit-linear-gradient(top, #8b0d0d 5%, #FAB4B4 100%);
    background:-o-linear-gradient(top, #8b0d0d 5%, #FAB4B4 100%);
    background:-ms-linear-gradient(top, #8b0d0d 5%, #FAB4B4 100%);
    background:linear-gradient(to bottom, #8b0d0d 5%, #FAB4B4 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8b0d0d', endColorstr='#FAB4B4',GradientType=0);
    background-color:#8b0d0d;
}*/

#GateWindow .btnRed:active, #GateAlarmWindow .btnRed:active {
    position:relative;
    top:1px;
}

/* Red Button Layout */
#GateWindow .btnGreen, #GateAlarmWindow .btnGreen {
    -moz-box-shadow: 3px 4px 0px 0px #E1ED8C;
    -webkit-box-shadow: 3px 4px 0px 0px #E1ED8C;
    box-shadow: -1px 3px 0px 0px #BBB8B8;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.10, #E1ED8C), color-stop(1, #63A143));
    background: -moz-linear-gradient(top, #E1ED8C 10%, #63A143 100%);
    background: -webkit-linear-gradient(top, #E1ED8C 10%, #63A143 100%);
    background: -o-linear-gradient(top, #E1ED8C 10%, #63A143 100%);
    background: -ms-linear-gradient(top, #E1ED8C 10%, #63A143 100%);
    background: linear-gradient(to bottom, #E1ED8C 10%, #63A143 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E1ED8C', endColorstr='#63A143',GradientType=0);
    background-color: #E1ED8C;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #7D5253;
    display: inline-block;
    cursor: default;
    color: #FFFFFF;
    font-family: arial;
    font-size: 16px;
    padding: 2px 50px;
    margin: 1px 0px 3px 0px;
    text-decoration: none;
    text-shadow: 0px 1px 10px #5F142D;
}

/*#GateWindow .btnGreen:hover, #GateAlarmWindow .btnGreen:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #568d39), color-stop(1, #E6EEAA));
    background:-moz-linear-gradient(top, #568d39 5%, #E6EEAA 100%);
    background:-webkit-linear-gradient(top, #568d39 5%, #E6EEAA 100%);
    background:-o-linear-gradient(top, #568d39 5%, #E6EEAA 100%);
    background:-ms-linear-gradient(top, #568d39 5%, #E6EEAA 100%);
    background:linear-gradient(to bottom, #568d39 5%, #E6EEAA 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#568d39', endColorstr='#E6EEAA',GradientType=0);
    background-color:#568d39;
}*/

#GateWindow .btnGreen:active, #GateAlarmWindow .btnGreen:active {
    position:relative;
    top:1px;
}

/* Blue button Layout */
#GateWindow .btnBlue, #GateAlarmWindow .btnBlue {
    -moz-box-shadow: 3px 4px 0px 0px #dcecfb;
    -webkit-box-shadow: 3px 4px 0px 0px #dcecfb;
    box-shadow: -1px 3px 0px 0px #BBB8B8;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.10, #dcecfb), color-stop(1, #4aa0f7));
    background: -moz-linear-gradient(top, #dcecfb 10%, #4aa0f7 100%);
    background: -webkit-linear-gradient(top, #dcecfb 10%, #4aa0f7 100%);
    background: -o-linear-gradient(top, #dcecfb 10%, #4aa0f7 100%);
    background: -ms-linear-gradient(top, #dcecfb 10%, #4aa0f7 100%);
    background: linear-gradient(to bottom, #dcecfb 10%, #4aa0f7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dcecfb', endColorstr='#4aa0f7',GradientType=0);
    background-color: #dcecfb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #7D5253;
    display: inline-block;
    cursor: default;
    color: #FFFFFF;
    font-family: arial;
    font-size: 16px;
    padding: 2px 34px;
    margin: 1px 0px 3px 0px;
    text-decoration: none;
    text-shadow: 0px 1px 10px #5F142D;
}

/*#GateWindow .btnBlue:hover, #GateAlarmWindow .btnBlue:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #4aa0f7), color-stop(1, #dcecfb));
    background:-moz-linear-gradient(top, #4aa0f7 5%, #dcecfb 100%);
    background:-webkit-linear-gradient(top, #4aa0f7 5%, #dcecfb 100%);
    background:-o-linear-gradient(top, #4aa0f7 5%, #dcecfb 100%);
    background:-ms-linear-gradient(top, #4aa0f7 5%, #dcecfb 100%);
    background:linear-gradient(to bottom, #4aa0f7 5%, #dcecfb 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4aa0f7', endColorstr='#dcecfb',GradientType=0);
    background-color:#4aa0f7;
}*/

#GateWindow .btnBlue:active, #GateAlarmWindow .btnBlue:active {
    position:relative;
    top:1px;
}

/* Gray Button Layout */
#GateWindow .btnGray, #GateAlarmWindow .btnGray {
    -moz-box-shadow: 3px 4px 0px 0px #ffffff;
    -webkit-box-shadow: 3px 4px 0px 0px #ffffff;
    box-shadow: -1px 3px 0px 0px #BBB8B8;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.10, #ffffff), color-stop(1, #bbb1b1));
    background: -moz-linear-gradient(top, #ffffff 10%, #bbb1b1 100%);
    background: -webkit-linear-gradient(top, #ffffff 10%, #bbb1b1 100%);
    background: -o-linear-gradient(top, #ffffff 10%, #bbb1b1 100%);
    background: -ms-linear-gradient(top, #ffffff 10%, #bbb1b1 100%);
    background: linear-gradient(to bottom, #ffffff 10%, #bbb1b1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#bbb1b1',GradientType=0);
    background-color: #ffffff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #7D5253;
    display: inline-block;
    cursor: default;
    color: #6B6A6A;
    font-family: arial;
    font-size: 16px;
    padding: 2px 34px;
    margin: 1px 0px 3px 0px;
    text-decoration: none;
    text-shadow: 0px 1px 10px #ABABAB;
}

/*#GateWindow .btnGray:hover, #GateAlarmWindow .btnGray:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bbb1b1), color-stop(1, #ffffff));
    background:-moz-linear-gradient(top, #bbb1b1 5%, #ffffff 100%);
    background:-webkit-linear-gradient(top, #bbb1b1 5%, #ffffff 100%);
    background:-o-linear-gradient(top, #bbb1b1 5%, #ffffff 100%);
    background:-ms-linear-gradient(top, #bbb1b1 5%, #ffffff 100%);
    background:linear-gradient(to bottom, #bbb1b1 5%, #ffffff 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bbb1b1', endColorstr='#ffffff',GradientType=0);
    background-color:#bbb1b1;
}*/

#GateWindow .btnGray:active, #GateAlarmWindow .btnGray:active {
    position:relative;
    top:1px;
}


#GateWindow .redFlashingBackground {
    background-image: url('Images/red-black-flashing-image.gif');
    color: #FFF;
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
    border-radius: 22px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    font-family: arial;
    font-size: 18px;
    padding: 6px 16px;
    margin: 1px auto;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    width: 280px;
    height: 21px;
}

#GateAlarmWindow .RingBellAlarmGrayBackground {
    background-image: url('Images/RingBellButton-Gray-64x64-rev1.00.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px;
    height: 32px;
    margin: 2px;
}

#GateAlarmWindow .RingBellAlarmBadQualityBackground {
    background-image: url('Images/RingBellButton-BadQuality-64x64-rev1.00.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px;
    height: 32px;
    margin: 2px;
}

#GateAlarmWindow .RingBellAlarmFlashingBackground {
    background-image: url('Images/RingBellButton-RedFlashing-64x64-rev1.00.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px;
    height: 32px;
    margin: 2px;
}