﻿/* Main Drop Down Menu Selectors*/
.Header-DropDownMenu {
    -ms-flex: 0 70px !important;
    flex: 0 70px !important;
    width: 100%;
    height: 100%;
    
}
    .Header-DropDownMenu ul {
        height: 100%;
        width: 100%;
    }
    .Header-DropDownMenu ul li {
        height: 100%;
        width: 100%;
    }
    .Header-DropDownMenu ul li div#menuIcon {
        width: 100%;
        height: 100%;
        background-image: url(Images/ButtonHamburgerStyle.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
    }

.menu-main 
{
    display: inline-block;
    font-size: 0;
    height: 84px;
}
.menu-login 
{
    float: right;
    margin-right: 5px;
}

.menu-spacer
{
    width: 100px;
    
}

.menu-login,.menu-spacer,.menu-main ul, ol 
{
    margin-top: 0;
    margin-bottom: 10px;
}

.menu
{
    display: inline-block;
    font-size: 0;
}

.menu-login,.menu-spacer,.menu-main li
{
    display: inline-block; 
    *display: inline;
    font-size: 15px;
    vertical-align: middle;
    text-rendering: optimizeLegibility;
    font-weight: bold;
    font-family: Verdana, Tahoma, Arial;
    line-height: 55px;
}

.menu-login,.menu-spacer,.menu-main a
{
    padding: 10px 5px;
    text-decoration: none;
    color: #264e8f;
}

@media (max-width: 530px)
{
    .menu-login,.menu-spacer,.menu-main a
    {
        padding: 5px 2px;
    }

    .menu-login,.menu-spacer,.menu-main li
    {
        font-size: 12px;
    }
}

@media (max-width: 700px)
{
    .optional
    {
        display: none !important;
    }
}

.menu-login,.menu-spacer,.menu-main a:hover
{
    color: #3772d2;
}

