﻿.PCA-Window {
    height: 860px;
    background-image: url(Images/PCAire-rev-20150114-1024x792.jpg);
    background-repeat: no-repeat;
    background-size: 60% 60%;
    background-position: right 75px;
    margin: auto auto;
    display: block;
}
.PCA-Window table
{
    width: 50%;
}
.k-window 
{
    z-index:100 !important;
}
.k-window-titlebar 
{
    background-color: #b8ce93 !important; 
}
.k-window-title 
{
    font-weight: bold !important;
}


/*changes background image for the Kendo Window icons*/
#pcaWindowLink0 {
    background-image: url('Images/leftArrow.gif')
}

#pcaWindowLink1 {
    background-image: url('Images/upArrow.gif')
}

#pcaWindowLink2 {
    background-image: url('Images/settings.gif')
}

#gateLinkButtonInPCAScreen{
    color: blue;
    position: relative;
    top: 5px;
    left: 15%;
    font-size: 20px;
    width: 122px;
    background: transparent;
}

#gpuLinkButtonInPCAScreen{
    color:blue;
    position: relative;
    top: 5px;
    left: 19%;
    font-size: 20px;
    width: 122px;
    background: transparent;
}

.pcaPageDividerLeft{
    float: left
}

.pcaPageDeividerRight{
    width: 51%;
    float: right;
}

#PCAWindow #tblPoints .pointsTableRowHeader{
    background-color: #5d892b;
    color: #FFF;
    height: 30px;
}

#PCAWindow #tblPoints .pointsTableHeader{
    text-align: center;
}

#PCAWindow #tblPoints{
    border-collapse: collapse;
    width: 500px;
    opacity: .8
}

#PCAWindow #tblPoints th,#PCAWindow #tblPoints td{
    border: 1px solid #8ed43e;
}


#PCAWindow .pointsTable tr:nth-child(even){
    background-color:#dcdcdc;
}

#PCAWindow .pointsTable tr:nth-child(odd){
    background-color:#fff
}

#PCAWindow .pointsTableDataCells {
    text-align: center;
    width: 241px;
    font-weight:bold;
    height: 30px;
}

/*ALARM POPUP DISPLAY*/
#PCAAlarmWindow #tblAlarms{
    border-collapse: collapse;
    width:300px
}

#PCAAlarmWindow #tblAlarms .rowHeader{
    background-color:#5d892b;
    color:#FFF;
}

#PCAAlarmWindow #tblAlarms .alarmTableHeader{
    text-align:center;
}

#PCAAlarmWindow #tblAlarms th, #PCAAlarmWindow #tblAlarms td{
    border: 1px solid #8ed43e;
}

#PCAAlarmWindow .alarmTable tr:nth-child(even){
    background-color:#dcdcdc;
}

#PCAAlarmWindow .alarmTable tr:nth-child(odd){
    background-color:#FFF;
}

#PCAAlarmWindow #tblAlarms .alarmDataCells{
    text-align:center;
}

#PCAWindow .btnInvisible #PCAAlarmWindow .btnInvisible{
    visibility:hidden
}

#PCAWindow .btnRed, #PCAAlarmWindow .btnRed {
    -moz-box-shadow: 3px 4px 0px 0px #FEA1A1;
    -webkit-box-shadow: 3px 4px 0px 0px #FEA1A1;
    box-shadow: -1px 3px 0px 0px #BBB8B8;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.10, #FEA1A1), color-stop(1, #B30602));
    background: -moz-linear-gradient(top, #FEA1A1 10%, #B30602 100%);
    background: -webkit-linear-gradient(top, #FEA1A1 10%, #B30602 100%);
    background: -o-linear-gradient(top, #FEA1A1 10%, #B30602 100%);
    background: -ms-linear-gradient(top, #FEA1A1 10%, #B30602 100%);
    background: linear-gradient(to bottom, #FEA1A1 10%, #B30602 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEA1A1', endColorstr='#B30602',GradientType=0);
    background-color: #FEA1A1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #7D5253;
    display: inline-block;
    cursor: default;
    color: #FFFFFF;
    font-family: arial;
    font-size: 16px;
    padding: 2px 47px;
    margin: 1px 0px 3px 0px;
    text-decoration: none;
    text-shadow: 0px 1px 10px #5F142D;
}

/*#PCAWindow .btnRed:hover, #PCAAlarmWindow .btnRed:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #8b0d0d), color-stop(1, #FAB4B4));
    background:-moz-linear-gradient(top, #8b0d0d 5%, #FAB4B4 100%);
    background:-webkit-linear-gradient(top, #8b0d0d 5%, #FAB4B4 100%);
    background:-o-linear-gradient(top, #8b0d0d 5%, #FAB4B4 100%);
    background:-ms-linear-gradient(top, #8b0d0d 5%, #FAB4B4 100%);
    background:linear-gradient(to bottom, #8b0d0d 5%, #FAB4B4 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8b0d0d', endColorstr='#FAB4B4',GradientType=0);
    background-color:#8b0d0d;
}*/

#PCAWindow .btnRed:active, #PCAAlarmWindow .btnRed:active {
    position:relative;
    top:1px;
}

/* Red Button Layout */
#PCAWindow .btnGreen, #PCAAlarmWindow .btnGreen {
    -moz-box-shadow: 3px 4px 0px 0px #E1ED8C;
    -webkit-box-shadow: 3px 4px 0px 0px #E1ED8C;
    box-shadow: -1px 3px 0px 0px #BBB8B8;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.10, #E1ED8C), color-stop(1, #63A143));
    background: -moz-linear-gradient(top, #E1ED8C 10%, #63A143 100%);
    background: -webkit-linear-gradient(top, #E1ED8C 10%, #63A143 100%);
    background: -o-linear-gradient(top, #E1ED8C 10%, #63A143 100%);
    background: -ms-linear-gradient(top, #E1ED8C 10%, #63A143 100%);
    background: linear-gradient(to bottom, #E1ED8C 10%, #63A143 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E1ED8C', endColorstr='#63A143',GradientType=0);
    background-color: #E1ED8C;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #7D5253;
    display: inline-block;
    cursor: default;
    color: #FFFFFF;
    font-family: arial;
    font-size: 16px;
    padding: 2px 50px;
    margin: 1px 0px 3px 0px;
    text-decoration: none;
    text-shadow: 0px 1px 10px #5F142D;
}

/*#PCAWindow .btnGreen:hover, #PCAAlarmWindow .btnGreen:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #568d39), color-stop(1, #E6EEAA));
    background:-moz-linear-gradient(top, #568d39 5%, #E6EEAA 100%);
    background:-webkit-linear-gradient(top, #568d39 5%, #E6EEAA 100%);
    background:-o-linear-gradient(top, #568d39 5%, #E6EEAA 100%);
    background:-ms-linear-gradient(top, #568d39 5%, #E6EEAA 100%);
    background:linear-gradient(to bottom, #568d39 5%, #E6EEAA 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#568d39', endColorstr='#E6EEAA',GradientType=0);
    background-color:#568d39;
}*/

#PCAWindow .btnGreen:active, #PCAAlarmWindow .btnGreen:active {
    position:relative;
    top:1px;
}

/* Blue button Layout */
#PCAWindow .btnBlue, #PCAAlarmWindow .btnBlue {
    -moz-box-shadow: 3px 4px 0px 0px #dcecfb;
    -webkit-box-shadow: 3px 4px 0px 0px #dcecfb;
    box-shadow: -1px 3px 0px 0px #BBB8B8;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.10, #dcecfb), color-stop(1, #4aa0f7));
    background: -moz-linear-gradient(top, #dcecfb 10%, #4aa0f7 100%);
    background: -webkit-linear-gradient(top, #dcecfb 10%, #4aa0f7 100%);
    background: -o-linear-gradient(top, #dcecfb 10%, #4aa0f7 100%);
    background: -ms-linear-gradient(top, #dcecfb 10%, #4aa0f7 100%);
    background: linear-gradient(to bottom, #dcecfb 10%, #4aa0f7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dcecfb', endColorstr='#4aa0f7',GradientType=0);
    background-color: #dcecfb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #7D5253;
    display: inline-block;
    cursor: default;
    color: #FFFFFF;
    font-family: arial;
    font-size: 16px;
    padding: 2px 34px;
    margin: 1px 0px 3px 0px;
    text-decoration: none;
    text-shadow: 0px 1px 10px #5F142D;
}

/*#PCAWindow .btnBlue:hover, #PCAAlarmWindow .btnBlue:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #4aa0f7), color-stop(1, #dcecfb));
    background:-moz-linear-gradient(top, #4aa0f7 5%, #dcecfb 100%);
    background:-webkit-linear-gradient(top, #4aa0f7 5%, #dcecfb 100%);
    background:-o-linear-gradient(top, #4aa0f7 5%, #dcecfb 100%);
    background:-ms-linear-gradient(top, #4aa0f7 5%, #dcecfb 100%);
    background:linear-gradient(to bottom, #4aa0f7 5%, #dcecfb 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4aa0f7', endColorstr='#dcecfb',GradientType=0);
    background-color:#4aa0f7;
}*/

#PCAWindow .btnBlue:active, #PCAAlarmWindow .btnBlue:active {
    position:relative;
    top:1px;
}

/* Gray Button Layout */
#PCAWindow .btnGray, #PCAAlarmWindow .btnGray {
    -moz-box-shadow: 3px 4px 0px 0px #ffffff;
    -webkit-box-shadow: 3px 4px 0px 0px #ffffff;
    box-shadow: -1px 3px 0px 0px #BBB8B8;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.10, #ffffff), color-stop(1, #bbb1b1));
    background: -moz-linear-gradient(top, #ffffff 10%, #bbb1b1 100%);
    background: -webkit-linear-gradient(top, #ffffff 10%, #bbb1b1 100%);
    background: -o-linear-gradient(top, #ffffff 10%, #bbb1b1 100%);
    background: -ms-linear-gradient(top, #ffffff 10%, #bbb1b1 100%);
    background: linear-gradient(to bottom, #ffffff 10%, #bbb1b1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#bbb1b1',GradientType=0);
    background-color: #ffffff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #7D5253;
    display: inline-block;
    cursor: default;
    color: #6B6A6A;
    font-family: arial;
    font-size: 16px;
    padding: 2px 34px;
    margin: 1px 0px 3px 0px;
    text-decoration: none;
    text-shadow: 0px 1px 10px #ABABAB;
}

/*#PCAWindow .btnGray:hover, #PCAAlarmWindow .btnGray:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bbb1b1), color-stop(1, #ffffff));
    background:-moz-linear-gradient(top, #bbb1b1 5%, #ffffff 100%);
    background:-webkit-linear-gradient(top, #bbb1b1 5%, #ffffff 100%);
    background:-o-linear-gradient(top, #bbb1b1 5%, #ffffff 100%);
    background:-ms-linear-gradient(top, #bbb1b1 5%, #ffffff 100%);
    background:linear-gradient(to bottom, #bbb1b1 5%, #ffffff 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bbb1b1', endColorstr='#ffffff',GradientType=0);
    background-color:#bbb1b1;
}*/

#PCAWindow .btnGray:active, #PCAAlarmWindow .btnGray:active {
    position:relative;
    top:1px;
}


#PCAWindow .redFlashingBackground {
    background-image: url('Images/red-black-flashing-image.gif');
    color: #FFF;
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
    border-radius: 22px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    font-family: arial;
    font-size: 18px;
    padding: 6px 16px;
    margin: 1px auto;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    width: 280px;
    height: 21px;
}

#PCAAlarmWindow .RingBellAlarmGrayBackground {
    background-image: url('Images/RingBellButton-Gray-64x64-rev1.00.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px;
    height: 32px;
    margin: 2px;
}

#PCAAlarmWindow .RingBellAlarmBadQualityBackground {
    background-image: url('Images/RingBellButton-BadQuality-64x64-rev1.00.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px;
    height: 32px;
    margin: 2px;
}

#PCAAlarmWindow .RingBellAlarmFlashingBackground {
    background-image: url('Images/RingBellButton-RedFlashing-64x64-rev1.00.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px;
    height: 32px;
    margin: 2px;
}