﻿@model iOps.Core.Model.User

<script>
    // Ajax enable row Delete Buttons
    $(".Ajaxify").each(function (intIndex) {
        $(this).bind("click", function (e) {
            e.preventDefault();
            $.ajax({
                url: $(this).attr("href"),
                type: "GET",
                contentType: 'text/html',
                success: function (data) {
                    $('#UserAdminData').html(data);
                }
            });
        });
    });

    // Add User Tooltip
    $('.UserDeleteButton, .UserDetailsButton, .BackToList').kendoTooltip({
        position: absolute,
        'text-indent': '-1000em',
        width: 120,
        position: 'top'
    });

</script>
<br />
<p>
    <h3>Are you sure you want to delete user: @Html.DisplayFor(model => model.Username)?</h3>
</p>
<br />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ControlField)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ControlField)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PasswordDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PasswordDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PasswordSalt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PasswordSalt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Approved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Approved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleInitial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleInitial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HireDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReadyForArchive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReadyForArchive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salutation.ControlField)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salutation.ControlField)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div id="Navigation-Buttons">
            <p>
                <input type="button" class="BackToList Ajaxify" value="Back to List" title="Go back to the user list" href='@Url.Action("Index", "Users", new { area = "Users" })' />&nbsp;&nbsp;
                <input type="button" class="UserEditButton Ajaxify" value="Edit User" title="Edit the current user" href='@Url.Action("Edit", "Users", new { area = "Users", id = Model.ID })' />&nbsp;&nbsp;
                <input type="button" class="UserDetailsButton Ajaxify" value="User Details" title="Go to the current user details" href='@Url.Action("Details", "Users", new { area = "Users", id = Model.ID })' />&nbsp;&nbsp;
                <input type="submit" class="UserDeleteButton Ajaxify" value="Delete" title="Delete the current user" />
            </p>
        </div>
    }

</div>

