﻿@model IEnumerable<iOps.Core.Model.User>
@using Kendo.Mvc.UI;

<script>
    // Ajax enable row Delete Buttons
    $(".Ajaxify, .k-link").each(function (intIndex) {
        $(this).bind("click", function (e) {
            e.preventDefault();
            $.ajax({
                url: $(this).attr("href"),
                type: "GET",
                contentType: 'text/html',
                success: function (data) {
                    $('#UserAdminData').html(data);
                }
            });
        });
    });

    // Create and Ajax Enable Double Click a row for details.
    $("#GridUsers table tr").dblclick(function (e) {
        e.preventDefault();
        var UserID = $(this).find("td")[0].innerText;
        $.ajax({
            url: '@Url.Action("Details", "Users", new { area = "Users" })?id=' + UserID,
            type: "GET",
            contentType: 'text/html',
            success: function (data) {
                $('#UserAdminData').html(data);
            }
        });
    });

    // Add User Tooltip
    $('.Ajaxify').kendoTooltip({
        position: absolute,
        'text-indent': '-1000em',
        width: 120,
        position: 'top'
    });

</script>

<div id="UserAdmin-Container">

    @(Html.Kendo().Grid(Model)
        .Name("GridUsers")
        .Columns(columns =>
        {
            columns.Bound(u => u.ID).Title("User ID").Hidden();
            //columns.Bound(user => user.ControlField).Title("Control Field");
            columns.Bound(u => new iOps.Core.Model.ControlData(u.ControlField).Created.TimeStamp).Title("Created")
                .Sortable(false);
            columns.Bound(u => u.Username).Title("User Name");
            //columns.Bound(u => u.Password).Title("Password");
            columns.Bound(u => u.PasswordDateTime).Title("PasswordDateTime");
            //columns.Bound(u => u.PasswordSalt).Title("PasswordSalt");
            columns.Bound(u => u.Approved).Title("Approved")
                .Template(@<input type="checkbox" checked='@item.Approved' />);
            columns.Bound(u => u.Active).Title("Active")
                .Template(@<input type="checkbox" checked='@item.Active' />);
            columns.Bound(u => u.FirstName).Title("FirstName");
            columns.Bound(u => u.Salutation.Name).Title("Salutation")
                .Sortable(false);
            columns.Bound(u => u.LastName).Title("LastName");
            columns.Bound(u => u.MiddleInitial).Title("MiddleInitial");
            columns.Bound(u => u.JobTitle).Title("JobTitle");
            columns.Bound(u => u.Department).Title("Department");
            columns.Bound(u => u.HireDate).Title("HireDate");
            columns.Bound(u => u.BirthDate).Title("BirthDate");
            columns.Bound(u => u.SecurityGroups).Title("Security Groups")
                .Sortable(false)
                .Template(@<text>@(Html.DropDownList("ddlSG", @item.SecurityGroups.Select(sg => new SelectListItem { Text = sg.Name, Value = sg.ID.ToString() }).OrderBy(sg => sg.Text).ToList()))</text>);
            columns.Bound(u => u.SecurityRoles).Title("Security Roles")
                .Sortable(false)
                .Template(@<text>@(Html.DropDownList("ddlSR", @item.SecurityRoles.Select(sr => new SelectListItem { Text = sr.Name, Value = sr.ID.ToString() }).OrderBy(sr => sr.Text).ToList()))</text>);
            columns.Bound(u => u.SecurityTasks).Title("Security Tasks")
                .Sortable(false)
                .Template(@<text>@(Html.DropDownList("ddlST", @item.SecurityTasks.Select(st => new SelectListItem { Text = st.Name, Value = st.ID.ToString() }).OrderBy(st => st.Text).ToList()))</text>);
            columns.Bound(u => u.UsersXrefScreens).Title("Security Screens")
                .Sortable(false)
                .Template(@<text>@(Html.DropDownList("ddlUS", @item.UsersXrefScreens.Select(us => new SelectListItem { Text = us.Screen.Name, Value = us.DisplayOrder.ToString() }).OrderBy(us => us.Value).ToList()))</text>);
            columns.Bound(u => u.IsDeleted).Title("Deleted");
            columns.Bound(u => u.ReadyForArchive).Title("ReadyForArchive");
            columns.Bound(u => u.ID).Title("Operations")
                .Sortable(false)
                .Template(@<text>
                    <input type="button" class="UserDeleteButton Ajaxify" value="Delete" title="Delete this user" user-id="@item.ID" href='@Url.Action("Delete","Users", new { area = "Users", id = @item.ID })' />&nbsp;&nbsp;
                    <input type="button" class="UserEditButton Ajaxify" value="Edit" title="Edit this user" user-id="@item.ID" href='@Url.Action("Edit","Users", new { area = "Users", id = @item.ID })' />
                </text>);
        })
                                .Pageable()
                                .Sortable()
    )

    <div id="Navigation-Buttons">
        <p>
            <input type="button" class="UserAddButton Ajaxify" value="Add User" title="Add a new user" href='@Url.Action("Create", "Users", new { area = "Users" })' />
        </p>
    </div>
</div>