.Airport-Window {
    height: 860px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    position: relative;
}

.Airport-Window #gates_container {
    width:100%;
    position:relative;
    box-sizing:border-box;
}

.Airport-Window #gates_container .img {
    width:80%;
    position:absolute;
    top:-40px;
    left:0;
}

.Airport-Window #gates_container #building { 
    content:url(Images/gates/cid-terminal.png); 
    width: 100%; height: 100%; 
    position:relative !important;
}

/* JFK Planes */
/* Zone A1 */
.Airport-Window #gates_container #gA5_ac { content:url(Images/TermT4/JFK_T4_Plane_A5_Rev-0001.png); width: 100%; height: 100%; }
.Airport-Window #gates_container #gA5_idle { content:url(Images/TermT4/JFK_T4_PBB_A5_Rev-0001.png); width: 100%; height: 100%; }
.Airport-Window #gates_container #gA5_bq { content:url(Images/TermT4/JFK_T4_PBB_A5-Gray_Rev-0001.png); width: 100%; height: 100%; }
.Airport-Window #gates_container #gA5_g { content:url(Images/TermT4/JFK_T4_PBB_A5-Green_Rev-0001.png); width: 100%; height: 100%; }
.Airport-Window #gates_container #gA5_y { content:url(Images/TermT4/JFK_T4_PBB_A5-Yellow_Rev-0001.png); width: 100%; height: 100%; }
.Airport-Window #gates_container #gA5_o { content:url(Images/TermT4/JFK_T4_PBB_A5-Orange_Rev-0001.png); width: 100%; height: 100%; }
.Airport-Window #gates_container #gA5_r { content:url(Images/TermT4/JFK_T4_PBB_A5-Red_Rev-0001.png); width: 100%; height: 100%; }

/* Zone B1 */
.Airport-Window #gates_container #gB25L1_ac { content:url(Images/TermT4/JFK_T4_Plane_B25L1_Rev-0001.png); width: 100%; height: 100%; }
.Airport-Window #gates_container #gB25L1_idle { content:url(Images/TermT4/JFK_T4_PBB_B25L1_Rev-0001.png); width: 100%; height: 100%; }
.Airport-Window #gates_container #gB25L1_bq { content:url(Images/TermT4/JFK_T4_PBB_B25L1-Gray_Rev-0001.png); width: 100%; height: 100%; }
.Airport-Window #gates_container #gB25L1_g { content:url(Images/TermT4/JFK_T4_PBB_B25L1-Green_Rev-0001.png); width: 100%; height: 100%; }
.Airport-Window #gates_container #gB25L1_y { content:url(Images/TermT4/JFK_T4_PBB_B25L1-Yellow_Rev-0001.png); width: 100%; height: 100%; }
.Airport-Window #gates_container #gB25L1_o { content:url(Images/TermT4/JFK_T4_PBB_B25L1-Orange_Rev-0001.png); width: 100%; height: 100%; }
.Airport-Window #gates_container #gB25L1_r { content:url(Images/TermT4/JFK_T4_PBB_B25L1-Red_Rev-0001.png); width: 100%; height: 100%; }

.Airport-Window #gates_container #gB27_ac { content:url(Images/TermT4/JFK_T4_Plane_B27_Rev-0001.png); width: 100%; height: 100%; }
.Airport-Window #gates_container #gB27_idle { content:url(Images/TermT4/JFK_T4_PBB_B27_Rev-0001.png); width: 100%; height: 100%; }
.Airport-Window #gates_container #gB27_bq { content:url(Images/TermT4/JFK_T4_PBB_B27-Gray_Rev-0001.png); width: 100%; height: 100%; }
.Airport-Window #gates_container #gB27_g { content:url(Images/TermT4/JFK_T4_PBB_B27-Green_Rev-0001.png); width: 100%; height: 100%; }
.Airport-Window #gates_container #gB27_y { content:url(Images/TermT4/JFK_T4_PBB_B27-Yellow_Rev-0001.png); width: 100%; height: 100%; }
.Airport-Window #gates_container #gB27_o { content:url(Images/TermT4/JFK_T4_PBB_B27-Orange_Rev-0001.png); width: 100%; height: 100%; }
.Airport-Window #gates_container #gB27_r { content:url(Images/TermT4/JFK_T4_PBB_B27-Red_Rev-0001.png); width: 100%; height: 100%; }

.Airport-Window #gates_container .status { 
   /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  /* IE 5-7 */
  filter: alpha(opacity=40);
  /* Netscape */
  -moz-opacity: 0.4;
  /* Safari 1.x */
  -khtml-opacity: 0.4;
  /* Good browsers */
  opacity: 0.4;
}

.Airport-Window #gates_container a.gate_link {
    position:absolute;
    white-space:nowrap;
    border:none;
    width:auto !important;
}
.Airport-Window #gates_container .gate_fire {
    padding: 3px 5px;
    background-color: #c00;
    color: #fff;
    font-weight: bold;
    font-size:12px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.1);
    text-decoration:none !important;
    margin-top:3px;
}
.Airport-Window #gates_container .gate_fire:after {
    content:"Fire Alarm";
}


.k-window {
    z-index: 100 !important;
}

.k-window-titlebar {
    background-color: #BFBFBF !important;
}

.k-window-title {
    font-weight: bold !important;
}

/*CSS for gate image links*/
#AirportWindow ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#AirportWindow a {
    /*/text-indent: -1000em;*/
    position: absolute; /*hides the linked copy within the li tags to the left of the window */
    width: 50px;
    height: 25px;
    font-weight:bold;
    color:#000000;
    border: 1px solid yellow
}
#AirportWindow a:hover {
    cursor: pointer;
}


#AirportWindow a.gate_link#gateA5 {
    top: 39%;
    left: 11%;
}

#AirportWindow a.gate_link#gateB25L1 {
   top: 65%;
    
   left: 32%;  
}
#AirportWindow a.gate_link#gateB27 {
    top: 55%;
    left: 40%; 
}

#AirportWindow a.gate_link#zoneA1 {
   
    -ms-transform: rotate(294deg); /* IE 9 */
    -webkit-transform: rotate(294deg); /* Chrome, Safari, Opera */
    transform: rotate(296deg);
    top: 37%;
    left: 14%;
    color:mediumblue;
}

#AirportWindow a.gate_link#zoneB1 {   
    -ms-transform: rotate(316deg); /* IE 9 */
    -webkit-transform: rotate(316deg); /* Chrome, Safari, Opera */
    transform: rotate(316deg); 
    top: 58%;
    left: 42%;
   color:mediumblue;
}
#AirportWindow a.gate_link#zoneB2 {
   -ms-transform: rotate(340deg); /* IE 9 */
    -webkit-transform: rotate(340deg); /* Chrome, Safari, Opera */
    transform: rotate(340deg);
    
   top: 33%;
    
   left: 67%;
    color:mediumblue;
}
#AirportWindow a.gate_link#zoneB3 {
  -ms-transform: rotate(340deg); /* IE 9 */
    -webkit-transform: rotate(340deg); /* Chrome, Safari, Opera */
    transform: rotate(340deg);
     
  top: 26%;
    
  left: 79%;
    color:mediumblue;
}


#AirportWindow .HideGate {
    //display: none;
    visibility: hidden;
}

/*END OF CSS Image LInk*/