﻿#movementContainer {
    margin:425px 0 0 60px;
}

.Gate-Window {
    height: 860px;
    /* background-image: url('Images/Jetway-Bridge.png'); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    margin: auto auto;
    display: block;
}

.AutoLevelingTrue {
    background-image: url(Images/PBB-WAC_v2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
}

.AutoLevelingFalse {
    background-image: url(Images/PBB-NOAC_v2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
}

.k-window {
    z-index: 100 !important;
}

.k-window-titlebar {
    background-color: #BFBFBF !important;
}

.k-window-title {
    font-weight: bold !important;
    margin-left: 10px;
}

/*changes background link for icons in Kendo Window*/
#gateWindowLink0 {
    background-image: url('Images/rightArrow.gif');
}


/*CSS for PCA image link*/
#GateWindow ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.hoverLinks {
    position: absolute;
    text-indent: -1000em; /*hides the linked copy within the li tags to the left of the window */
}

.hoverLinks a:hover {
    cursor: pointer;
    -moz-box-shadow: 0 0 0 5px #f2e3e3;
    -webkit-box-shadow: 0 0 0 5px #f2e3e3;
    box-shadow: 0 0 0 5px #f2e3e3;
    -moz-transition: -moz-box-shadow .3s;
    -webkit-transition: -webkit-box-shadow .3s;
    transition: box-shadow .3s;
}

#pcaLink {
    top: 48%;
    left: 68%;
    width: 93px;
    height: 55px;
    border: 4px solid yellow;
    cursor: pointer;
    visibility:hidden
}

#jetPowerLink {
    top: 43%;
    left: 90%;
    width: 119px;
    height: 100px;
    border: 4px solid blue;
    cursor: pointer;
    visibility:hidden
}

#gpuLinkButtonInGateScreen {
    position: absolute;
    top: 1%;
    left: 68%;
}

#pcaLinkButtonInGateScreen {
    position: absolute;
    top: 1%;
    left: 78%;
}

#gpuLinkButtonInGateScreen, #pcaLinkButtonInGateScreen {
     -moz-box-shadow: 3px 4px 0px 0px #dcecfb;
    -webkit-box-shadow: 3px 4px 0px 0px #dcecfb;
    box-shadow: -1px 3px 0px 0px #BBB8B8;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.10, #dcecfb), color-stop(1, #4aa0f7));
    background: -moz-linear-gradient(top, #dcecfb 10%, #4aa0f7 100%);
    background: -webkit-linear-gradient(top, #dcecfb 10%, #4aa0f7 100%);
    background: -o-linear-gradient(top, #dcecfb 10%, #4aa0f7 100%);
    background: -ms-linear-gradient(top, #dcecfb 10%, #4aa0f7 100%);
    background: linear-gradient(to bottom, #dcecfb 10%, #4aa0f7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dcecfb', endColorstr='#4aa0f7',GradientType=0);
    background-color: #dcecfb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #7D5253;
    display: inline-block;
    cursor: default;
    color: #FFFFFF;
    font-family: arial;
    font-size: 16px;
    padding: 2px 34px;
    margin: 1px 0px 3px 0px;
    text-decoration: none;
    text-shadow: 0px 1px 10px #5F142D;
    
    /*color: blue;
    position: relative;
    top: 5px;
    left: 15%;
    font-size: 20px;
    width: 128px;
    background: transparent;*/
}

#cabangle{
    position: absolute;
    top: 23%;
    left: 45%;
    color:mediumblue;
    background: transparent;
}
#slope{
    -ms-transform: rotate(10deg); /* IE 9 */
    -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
    transform: rotate(10deg); 
    position: absolute;
    top: 27%;   
    left: 60%;
    color:mediumblue;
    background: transparent;
}

#bridge{
    position: absolute;
    top: 36%;   
    left: 86%;
    color:mediumblue;
    background: transparent;
}

#heightofbridge{ 
    position: absolute;
    top: 48%;   
    left: 46%;
    color:mediumblue;
    background: transparent;
}


#wheelbogieangle{
    position: absolute;
    top: 54%;   
    left: 49%;
    color:mediumblue;
    background: transparent;
}


#extensionofbridge{
    -ms-transform: rotate(14deg); /* IE 9 */
    -webkit-transform: rotate(14deg); /* Chrome, Safari, Opera */
    transform: rotate(14deg); 
    position: absolute;
    top: 54%;   
    left: 70%;
    color:mediumblue;
    background: transparent;
}

#showServiceCounters {
    color: blue;
    position: relative;
    top: 5px;
    left: 24%;
    font-size: 20px;
    width: 128px;
    background: transparent;
}

/*Kendo tooltip styles*/
.k-widget.k-tooltip.k-popup.k-group.k-reset {
    width: 20px;
    height: 20px;
    background: black;
    color: white;
}

.gatesPageDividerLeft {
    width: 42%;
    float:left
}

.gatesPageDividerRight {
    width: 58%;
    float: right
}

#GateWindow #tblPoints .pointsTableRowHeader, #GateWindow #tblGatePoints .pointsTableRowHeader {
    background-color: #e3e3e3;
    color: #2e2e2e;
    height: 30px;
}

#GateWindow #tblPoints .pointsTableHeader, #GateWindow #tblGatePoints .pointsTableHeader {
    text-align: center;
}

#GateWindow #tblPoints {
    border-collapse: collapse;
    width: 500px;
    opacity: .8
}

#GateWindow #tblGatePoints {
    border-collapse: collapse;
    width:435px;
    opacity: .8;
    margin: 52% 0 0 0
}

#GateWindow #tblPoints th,#GateWindow #tblPoints td,#GateWindow #tblGatePoints th, #GateWindow #tblGatePoints td {
    border: 1px solid #c5c5c5;
}


#GateWindow .pointsTable tr:nth-child(even) {
    background-color:#f5f5f5;
}

#GateWindow .pointsTable tr:nth-child(odd) {
    background-color:#fff
}

#GateWindow .pointsTableDataCells {
    text-align: center;
    width: 231px;
    font-weight:bold;
    height: 25px;
}

div.k-widget.k-window.KendoWindowToTop {
    z-index: 500 !important;
}

#GateAlarmWindow tr.AlarmRow, #GateWarningWindow tr.AlarmRow{
	background-color: #f00 !important;
	color: #fff !important;
	font-weight: bold !important;
	border-color: #fff !important;
}

#GateAlarmWindow tr.AlarmRow a { color:#fff !important; }
#GateAlarmWindow tr.AlarmRow td[class*='sorting_'] { background-color: #c00 !important; }
#GateAlarmWindow tr.AlarmRow:hover { background-color: #f66 !important; }
#GateAlarmWindow tr.AlarmRow:hover td[class*='sorting_'] { background-color: #c66 !important; }

#GateAlarmWindow tr.WarningRow, #GateWarningWindow tr.WarningRow {
	background-color: #ff0 !important;
	color: #000 !important;
	font-weight: normal !important;
	border-color: #fff !important;
}
#GateAlarmWindow tr.WarningRow a { color:#000 !important; }
#GateAlarmWindow tr.WarningRow td[class*='sorting_'] { background-color: #cc0 !important; }
#GateAlarmWindow tr.WarningRow:hover { background-color: #ff9 !important; }
#GateAlarmWindow tr.WarningRow:hover td[class*='sorting_'] { background-color: #cc9 !important; }

#GateWarningWindow tr.AlarmRow a { color:#fff !important; }
#GateWarningWindowtr.AlarmRow td[class*='sorting_'] { background-color: #c00 !important; }
#GateWarningWindow tr.AlarmRow:hover { background-color: #f66 !important; }
#GateWarningWindow tr.AlarmRow:hover td[class*='sorting_'] { background-color: #c66 !important; }

#GateWarningWindow tr.WarningRow a { color:#000 !important; }
#GateWarningWindow tr.WarningRow td[class*='sorting_'] { background-color: #cc0 !important; }
#GateWarningWindow tr.WarningRow:hover { background-color: #ff9 !important; }
#GateWarningWindow tr.WarningRow:hover td[class*='sorting_'] { background-color: #cc9 !important; }

/*Hide*/
#GateWindow .btnInvisible, #GateAlarmWindow .btnInvisible, #GateWarningWindow .btnInvisible {
    visibility: hidden;
} 

#GateWindow .btnRed, #GateAlarmWindow .btnRed, #GateWarningWindow .btnRed{
    -moz-box-shadow: 3px 4px 0px 0px #FEA1A1;
    -webkit-box-shadow: 3px 4px 0px 0px #FEA1A1;
    box-shadow: -1px 3px 0px 0px #BBB8B8;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.10, #FEA1A1), color-stop(1, #B30602));
    background: -moz-linear-gradient(top, #FEA1A1 10%, #B30602 100%);
    background: -webkit-linear-gradient(top, #FEA1A1 10%, #B30602 100%);
    background: -o-linear-gradient(top, #FEA1A1 10%, #B30602 100%);
    background: -ms-linear-gradient(top, #FEA1A1 10%, #B30602 100%);
    background: linear-gradient(to bottom, #FEA1A1 10%, #B30602 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEA1A1', endColorstr='#B30602',GradientType=0);
    background-color: transparent;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #7D5253;
    display: inline-block;
    cursor: default;
    color: #FFFFFF;
    font-family: arial;
    font-size: 16px;
    padding: 2px 47px;
    margin: 1px 0px 3px 0px;
    text-decoration: none;
    text-shadow: 0px 1px 10px #5F142D;
}

/*#GateWindow .btnRed:hover, #GateAlarmWindow .btnRed:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #8b0d0d), color-stop(1, #FAB4B4));
    background:-moz-linear-gradient(top, #8b0d0d 5%, #FAB4B4 100%);
    background:-webkit-linear-gradient(top, #8b0d0d 5%, #FAB4B4 100%);
    background:-o-linear-gradient(top, #8b0d0d 5%, #FAB4B4 100%);
    background:-ms-linear-gradient(top, #8b0d0d 5%, #FAB4B4 100%);
    background:linear-gradient(to bottom, #8b0d0d 5%, #FAB4B4 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8b0d0d', endColorstr='#FAB4B4',GradientType=0);
    background-color:#8b0d0d;
}*/

#GateWindow .btnRed:active, #GateAlarmWindow .btnRed:active {
    position:relative;
    top:1px;
}

/* Red Button Layout */
#GateWindow .btnGreen, #GateAlarmWindow .btnGreen {

    color: green;
    position: relative;
    font-size: 16px;
    font-family: arial;
    width: 128px;
    background : transparent;
    
    /*-moz-box-shadow: 3px 4px 0px 0px #E1ED8C;
    -webkit-box-shadow: 3px 4px 0px 0px #E1ED8C;
    box-shadow: -1px 3px 0px 0px #BBB8B8;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.10, #E1ED8C), color-stop(1, #63A143));
    background: -moz-linear-gradient(top, #E1ED8C 10%, #63A143 100%);
    background: -webkit-linear-gradient(top, #E1ED8C 10%, #63A143 100%);
    background: -o-linear-gradient(top, #E1ED8C 10%, #63A143 100%);
    background: -ms-linear-gradient(top, #E1ED8C 10%, #63A143 100%);
    background: linear-gradient(to bottom, #E1ED8C 10%, #63A143 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E1ED8C', endColorstr='#63A143',GradientType=0);
    background-color: #E1ED8C;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #7D5253;
    display: inline-block;
    cursor: default;
    color: #FFFFFF;
    font-family: arial;
    font-size: 16px;
    padding: 2px 50px;
    margin: 1px 0px 3px 0px;
    text-decoration: none;
    text-shadow: 0px 1px 10px #5F142D;*/
}

/*#GateWindow .btnGreen:hover, #GateAlarmWindow .btnGreen:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #568d39), color-stop(1, #E6EEAA));
    background:-moz-linear-gradient(top, #568d39 5%, #E6EEAA 100%);
    background:-webkit-linear-gradient(top, #568d39 5%, #E6EEAA 100%);
    background:-o-linear-gradient(top, #568d39 5%, #E6EEAA 100%);
    background:-ms-linear-gradient(top, #568d39 5%, #E6EEAA 100%);
    background:linear-gradient(to bottom, #568d39 5%, #E6EEAA 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#568d39', endColorstr='#E6EEAA',GradientType=0);
    background-color:#568d39;
}*/

#GateWindow .btnGreen:active, #GateAlarmWindow .btnGreen:active {
    position:relative;
    top:1px;
}

/* Blue button Layout */
#GateWindow .btnBlue, #GateAlarmWindow .btnBlue {
    -moz-box-shadow: 3px 4px 0px 0px #dcecfb;
    -webkit-box-shadow: 3px 4px 0px 0px #dcecfb;
    box-shadow: -1px 3px 0px 0px #BBB8B8;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.10, #dcecfb), color-stop(1, #4aa0f7));
    background: -moz-linear-gradient(top, #dcecfb 10%, #4aa0f7 100%);
    background: -webkit-linear-gradient(top, #dcecfb 10%, #4aa0f7 100%);
    background: -o-linear-gradient(top, #dcecfb 10%, #4aa0f7 100%);
    background: -ms-linear-gradient(top, #dcecfb 10%, #4aa0f7 100%);
    background: linear-gradient(to bottom, #dcecfb 10%, #4aa0f7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dcecfb', endColorstr='#4aa0f7',GradientType=0);
    background-color: #dcecfb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #7D5253;
    display: inline-block;
    cursor: default;
    color: #FFFFFF;
    font-family: arial;
    font-size: 16px;
    padding: 2px 34px;
    margin: 1px 0px 3px 0px;
    text-decoration: none;
    text-shadow: 0px 1px 10px #5F142D;
}

/*#GateWindow .btnBlue:hover, #GateAlarmWindow .btnBlue:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #4aa0f7), color-stop(1, #dcecfb));
    background:-moz-linear-gradient(top, #4aa0f7 5%, #dcecfb 100%);
    background:-webkit-linear-gradient(top, #4aa0f7 5%, #dcecfb 100%);
    background:-o-linear-gradient(top, #4aa0f7 5%, #dcecfb 100%);
    background:-ms-linear-gradient(top, #4aa0f7 5%, #dcecfb 100%);
    background:linear-gradient(to bottom, #4aa0f7 5%, #dcecfb 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4aa0f7', endColorstr='#dcecfb',GradientType=0);
    background-color:#4aa0f7;
}*/

#GateWindow .btnBlue:active, #GateAlarmWindow .btnBlue:active {
    position:relative;
    top:1px;
}

#GateWindow .btnsBlue, #GateAlarmWindow .btnsBlue {
    color: blue;
    position: relative;
    font-size: 16px;
    font-family: arial;
    width: 128px;
    background: transparent;
}
#GateWindow .btnsRed, #GateAlarmWindow .btnsRed {
    color: red;
    position: relative;
    font-size: 16px;
    font-family: arial;
    width: 128px;
    background: transparent;
}
/* Gray Button Layout */
#GateWindow .btnGray, #GateAlarmWindow .btnGray {
   color: slategray;
    position: relative;
    font-size: 16px;
    font-family: arial;
    width: 128px;
    background : transparent;
   
    
     /*-moz-box-shadow: 3px 4px 0px 0px #ffffff;
    -webkit-box-shadow: 3px 4px 0px 0px #ffffff;
    box-shadow: -1px 3px 0px 0px #BBB8B8;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.10, #ffffff), color-stop(1, #bbb1b1));
    background: -moz-linear-gradient(top, #ffffff 10%, #bbb1b1 100%);
    background: -webkit-linear-gradient(top, #ffffff 10%, #bbb1b1 100%);
    background: -o-linear-gradient(top, #ffffff 10%, #bbb1b1 100%);
    background: -ms-linear-gradient(top, #ffffff 10%, #bbb1b1 100%);
    background: linear-gradient(to bottom, #ffffff 10%, #bbb1b1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#bbb1b1',GradientType=0);
    background-color: #ffffff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #7D5253;
    display: inline-block;
    cursor: default;
    color: #6B6A6A;
    font-family: arial;
    font-size: 16px;
    padding: 2px 34px;
    margin: 1px 0px 3px 0px;
    text-decoration: none;
    text-shadow: 0px 1px 10px #ABABAB;*/
}

/*#GateWindow .btnGray:hover, #GateAlarmWindow .btnGray:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bbb1b1), color-stop(1, #ffffff));
    background:-moz-linear-gradient(top, #bbb1b1 5%, #ffffff 100%);
    background:-webkit-linear-gradient(top, #bbb1b1 5%, #ffffff 100%);
    background:-o-linear-gradient(top, #bbb1b1 5%, #ffffff 100%);
    background:-ms-linear-gradient(top, #bbb1b1 5%, #ffffff 100%);
    background:linear-gradient(to bottom, #bbb1b1 5%, #ffffff 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bbb1b1', endColorstr='#ffffff',GradientType=0);
    background-color:#bbb1b1;
}*/

#GateWindow .btnGray:active, #GateAlarmWindow .btnGray:active {
    position:relative;
    top:1px;
}


#GateWindow .redFlashingBackground {
    background-image: url('Images/red-black-flashing-image.gif');
    color: #FFF;
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
    border-radius: 22px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    font-family: arial;
    font-size: 16px;
    padding: 6px 16px;
    margin: 1px auto;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    width: 200px;
    height: 20px;
}

#GateWindow .yellowFlashingBackground {
    background-image: url('Images/yellow-black-flashing-image.gif');
    color: #3A3A12;
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
    border-radius: 22px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    font-family: arial;
    font-size: 16px;
    padding: 6px 16px;
    margin: 1px auto;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    width: 200px;
    height: 20px;
}

#GateAlarmWindow .HideAlarm {
    display: none;
    visibility: hidden;
}

#GateAlarmWindow .ShowAlarm {
    display: table-row;
    visibility: visible;
}

#GateAlarmWindow .RingBellAlarmGrayBackground {
    background-image: url('Images/RingBellButton-Gray-64x64-rev1.00.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px;
    height: 32px;
    margin: 2px;
}

#GateAlarmWindow .RingBellAlarmBadQualityBackground {
    background-image: url('Images/RingBellButton-BadQuality-64x64-rev1.00.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px;
    height: 32px;
    margin: 2px;
}

#GateAlarmWindow .RingBellAlarmFlashingBackground {
    background-image: url('Images/RingBellButton-RedFlashing-64x64-rev1.00.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px;
    height: 32px;
    margin: 2px;
}

#GateWarningWindow .RingBellWarningFlashingBackground {
    background-image: url('Images/RingBellButton-YellowFlashing-64x64-rev1.00.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px;
    height: 32px;
    margin: 2px;
}

