﻿/* Weather Widget Selectors */
.Header-Weather {
    -ms-flex: 0 115px !important;
    -webkit-box-flex: 0 115px !important;
    -webkit-box-flex: 0 115px !important;
    flex: 0 115px !important;
    align-items: center;
    height: 100%;
    padding: 5px 0;
    z-index: 5000;
}

.Header-Weather-Layout {
    align-self: flex-start;
    text-align: center;
    width: 100%;
    height: 100%;
    border-left: 1px dotted #D9D9D9;
    padding: 5px 5px;
}

.Header-Weather-Text {
    font-weight: bold;
    font-size: smaller;
}
