﻿@using System.Web.Configuration;
<div class="Header-FlexGroup FlexContainer Flex-Column">
    <div class="Header-ClientID FlexItem FlexItem-FlexOn FlexItem-AlignCenter">
        <p>
            <a class="Header-ClientID-WebLink" href='@System.Web.Configuration.WebConfigurationManager.AppSettings["ClientWebsite"]' target="_blank">
                <span class="HCW-Abbreviation">@WebConfigurationManager.AppSettings["ClientAbbreviation"]</span>
                <span class="HCW-Dash">-</span>
                <span class="HCW-Name">@WebConfigurationManager.AppSettings["ClientName"]</span>&nbsp;-&nbsp;@WebConfigurationManager.AppSettings["ClientShortName"]
                                
            </a>
        </p>
    </div>
    <div class="Header-iOpsStats FlexItem FlexItem-FlexOn FlexItem-AlignCenter">
        <ul>
            <li><p class="No-Border">Column 1 <br /> Bottom Row</p></li>
            <li><p>Column 2 <br /> Bottom Row</p></li>
            <li><p>-</p></li>
            <li><p>-</p></li>
            <li><p>-</p></li>
            <li><p>-</p></li>
            <li><p>-</p></li>
        </ul>
    </div>
</div>

