﻿<script type="text/javascript" src="~/OPCHTML/js/datatables/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        debugger;
        // set up gate prefix
        OPC.tags = [];
        OPC_config.watch_tags = [];
        OPC_config.tag_prefix = "SouthWest.DAL.Term1.Zone1.Gate "+@TempData["GateNumber"]+".PBB.";
        OPC_config.refresh_callback = refresh_update;
        OPC_config.watch_tags = [];
        //OPC_config.callback_timeout = 500;
        OPC_config.alarm_bindings = [
            {
                alarmid: "GateAlarms",
                callback: update_alarms,
                showInfo: true,
                showHistory: false,
                pagination: true,
                pageLength: 10,
                filter: {
                    alarmtypes: ["Digital"],
                    alarmgroups: ["@TempData["GateNumber"]" + "_PBB_ALARMS"]
                },
                columns: [
		        	{ name: "AlarmID", text: "Alarm ID", type: "string", visible: false },
		            { name: "AlarmDateTime", text: "Alarm Date/Time", type: "datetime", visible: true, sort: 'desc', width: '130px', searchable: false },
		            { name: "Active", text: "Active", type: "boolean", visible: true, width: '50px', align: 'center' },
		            { name: "AlarmValue", text: "Alarm Value", type: "string", visible: false, align: 'right' },
		            { name: "Text", text: "Text", type: "string", visible: true },
		            { name: "AlarmType", text: "Alarm Type", type: "string", visible: true },
		            { name: "Priority", text: "Priority", type: "string", visible: true, width: '50px', align: 'right' }
                ]
            },
            {
                alarmid: "GateWarnings",
                callback: update_warnings,
                showInfo: true,
                showHistory: false,
                pagination: true,
                pageLength: 10,
                filter: {
                    alarmtypes: ["Digital"],
                    alarmgroups: ["@TempData["GateNumber"]" + "_PBB_WARNINGS"]
                },
                columns: [
                    { name: "AlarmID", text: "Alarm ID", type: "string", visible: false },
                    { name: "AlarmDateTime", text: "Alarm Date/Time", type: "datetime", visible: true, sort: 'desc', width: '130px', searchable: false },
                    { name: "Active", text: "Active", type: "boolean", visible: true, width: '50px', align: 'center' },
                    { name: "AlarmValue", text: "Alarm Value", type: "string", visible: false, align: 'right' },
                    { name: "Text", text: "Text", type: "string", visible: true },
                    { name: "AlarmType", text: "Alarm Type", type: "string", visible: true },
                    { name: "Priority", text: "Priority", type: "string", visible: true, width: '50px', align: 'right' }
                ]
            }
        ];

        // TODO: add horizontal/vertical movement tags to OPC_config.watch_tags array
        OPC.init(); //re-initialize HTML HMI engine after updating prefix

        $('#imageinfoid').css('visibility', 'hidden');

        //Setup the main Kendo Window inside splitter-main
        $("#GateWindow").kendoWindow({
            title: "Gate @TempData["GateNumber"]",
            draggable: false,
            modal: false,
            width: $("#splitter").width() - 244,
            height: $(".splitter-main").height() - 33,
            position: {
                top: $("#Header").height() + 2,
                left: 246
            },
            resizable: false,
            actions: ["Custom"]
        });

        //delete the SignIn kendoWindow once loaded CSW20150707: Check to see if this is why the UserAdmin window stays open
        if ($('#pageData').is(':visible')) {
            $('#pageData').data('kendoWindow').destroy();
        }

        //if the splitter is already collapsed, expand the main window
        if ($('.splitter-stats').width() < 200) {
            $('body').find('.k-window').css('width', '+=200');
            $('body').find('.k-window').css('left', '-=200');
        }

        //removes the default custom icon for the kendo window
        $('#GateWindow').parent().find('a.k-window-action.k-link').find('span').css("background-image", "url('#')");

        //adds an ID attribute to each custom icon to allow unique functionality
        $('#GateWindow').parent().find('a.k-window-action.k-link').each(function (index) {
            $(this).attr('id', 'gateWindowLink' + index);
        });

        //up arrow (Zone screen)
        $('#gateWindowLink0').click(function(e){
            debugger;
            var gatenav = 0;
            if(@TempData["GateNumber"] == 10){
                gatenav = 12;
            }
            else gatenav = 10;

            $.ajax({
                url: '@Url.Action("ShowGates","Gate",new {area = "Gate"})',
                type: "GET",
                contentType: 'text/html',
                data: {
                    gateNum: gatenav,
                },
                success: function (data) {
                    CloseGateAlarmWindow();
                    CloseGateWarningWindow();
                    CloseKendoGate();
                    $('#main-body').html(data);
                    //ChangeIcons2(@TempData["ZoneNumber"]);

                }
            });
        });

        //regular text link(to GPU)
        $('#showServiceCounters').click(function (e) {
            $.ajax({
                url: '@Url.Action("ShowServiceCounters", "ServiceCounters", new { area = "ServiceCounters", gateNum = TempData["GateNumber"] })',
                type: "GET",
                contentType: 'text/html',
                success: function (data) {
                    CloseGateAlarmWindow();
                    CloseGateWarningWindow();
                    CloseKendoGate();
                    $('#main-body').html(data);
                }
            });
        });

        $('#gpuLinkButtonInGateScreen').click(function (e) {
            $.ajax({
                url: '@Url.Action("ShowGPU", "GPU", new { area = "GPU" })',
                type: "GET",
                data: {
                    gateNum: "@TempData["GateNumber"]",
                    zoneNum: "@TempData["ZoneNumber"]"
                },
                contentType: 'text/html',
                success: function (data) {
                    CloseGateAlarmWindow();
                    CloseGateWarningWindow();
                    CloseKendoGate();
                    $('#main-body').html(data);
                }
            });
        });

        //regular text link (to PCA)
        $('#pcaLinkButtonInGateScreen').click(function (e) {
            $.ajax({
                url: '@Url.Action("ShowPCA", "PCA", new { area= "PCA" })',
                type: "GET",
                data: {
                    gateNum: "@TempData["GateNumber"]",
                    zoneNum: "@TempData["ZoneNumber"]"
                },
                contentType: 'text/html',
                success: function (data) {
                    CloseGateAlarmWindow();
                    CloseGateWarningWindow();
                    CloseKendoGate();
                    $('#main-body').html(data);
                }
            });
        });

        var gateAlarmWindow = $('#GateAlarmWindow');
        if (!gateAlarmWindow.data('kendoWindow')) {
            gateAlarmWindow.kendoWindow({
                width: 'auto',
                height: 'auto',
                animation: false,
                modal: false,
                draggable: true,
                title: 'Gate @TempData["GateNumber"] Alarms',
                visible: false,
                actions: ["Close"],
                open: function (e) {
                    this.wrapper.css({
                        top: 100,
                        left: 250
                    });
                },
            })
        }

        $('#btnAlarms').click(function () {
            $('#GateAlarmWindow').data('kendoWindow').open();
            $('#GateAlarmWindow').closest(".k-window").css({ top: 90, left: 250 });
        })

        var gateWarningWindow = $('#GateWarningWindow');
        if (!gateWarningWindow.data('kendoWindow')) {
            gateWarningWindow.kendoWindow({
                width: 'auto',
                height: 'auto',
                animation: false,
                modal: false,
                draggable: true,
                title: 'Gate @TempData["GateNumber"] Warnings',
                visible: false,
                actions: ["Close"],
                open: function (e) {
                    this.wrapper.css({
                        top: 100,
                        left: 250
                    });
                },
            })
        }

        $('#btnWarnings').click(function () {
            debugger;
            $('#GateWarningWindow').data('kendoWindow').open();
            $('#GateWarningWindow').closest(".k-window").css({ top: 90, left: 250 });
        })

    })

    function CloseKendoGate() {
        if ($('#GateWindow').is(':visible')) {
            $('#GateWindow').data('kendoWindow').destroy();
            return false;
        }
    }

    function CloseGateAlarmWindow() {
        $('#GateAlarmWindow').data('kendoWindow').destroy();
        return false;
    }

    function CloseGateWarningWindow() {
        $('#GateWarningWindow').data('kendoWindow').destroy();
        return false;
    }

    function get_value(tag) {
        return OPC.get_value(OPC_config.tag_prefix + tag);
    }

    function get_bool(tag) {
        var b = OPC.get_value(OPC_config.tag_prefix + tag);
        return (b && b == "True") ? true : false;
    }

    function update_labels() {
        // AUTO_LEVEL_MODE = AUTOLEVELMODEFLAG=1 && AUTOLEVELKEY=1 = "Auto Level"
        // MANUAL_MODE = OPERATEKEY=1 && MANUALMODEFLAG=1 = "Manual Mode"
        // LOGGED OFF

        // Get required tag values
        var autolevelmode = get_bool("PBB.AIRCRAFTDOCKEDCALCULATION.Value");
        var operatekey = get_bool("PBB.OPERATEKEY.Value");
        var manualmode = get_bool("PBB.MANUALMODEFLAG.Value");
        var autolevelok = get_bool("PBB.AUTOLEVELOK.Value");
        var vertupok = get_bool("PBB.VERTUPOK.Value");
        var vertdnok = get_bool("PBB.VERTDNOK.Value");
        var horizextlimit = get_value("PBB.HORIZ_EXT_LIMIT_FLAG.Value");
        //var horizretlimit = get_value("PBB.HORIZ_RET_LIMIT_FLAG.Value");
        var horizextult = get_value("PBB.Alarm.HORIZ_EXT_ULT.Value");
        //var horizretult = get_value("PBB.Alarm.HORIZ_RET_ULT.Value");

        // PBB Mode
        if (autolevelmode) { $("#btnPBBMode").html("Auto Level"); }
        else if (operatekey && manualmode) { $("#btnPBBMode").html("Manual Mode"); }
        else { $("#btnPBBMode").html("Logged Off"); }

        //Auto Level
        if (autolevelmode) { $("#btnAutoLevel").html("Activated"); }
        else if (autolevelok) { $("#btnAutoLevel").html("Ready/OK"); }
        else { $("#btnAutoLevel").html("Not Ready"); }

        //Vertical Movement
        if (vertupok || vertdnok) { $("#btnVerticalMvt").html("Ready/OK"); }
        else { $("#btnVerticalMvt").html("Not Ready"); }

        //Horizontal Movement
        if (horizextlimit && horizextult) { $("#btnHorizontalMvt").html("Ready/OK"); }
        else { $("#btnHorizontalMvt").html("Not Ready"); }
    }

    function update_alarms() {
        var PriorityCol = -1;
        PriorityCol = $('#GateAlarmWindow th:contains("Priority")').index();
        if (PriorityCol > -1) {
            $('#GateAlarmWindow tr').not('thead tr').each(function (idx, row) {
                var cellData = $('#GateAlarmWindow').find('td').eq(PriorityCol)[0].innerText;
                debugger;
                $('#GateAlarmWindow th:contains("Priority")').hide();
                $(this).find('td').eq(PriorityCol).hide();
                switch (cellData) {
                    case '0':
                        $(this).addClass("WarningRow").addClass("HideAlarm");
                        break;
                    case '100':
                        $(this).addClass("AlarmRow");
                        break;
                    default:
                        break;
                }
            });
        }
    };

    function update_warnings() {
        var PriorityCol = -1;
        PriorityCol = $('#GateWarningWindow th:contains("Priority")').index();
        if (PriorityCol > -1) {
            $('#GateWarningWindow tr').not('thead tr').each(function (idx, row) {
                var cellData = $('#GateWarningWindow').find('td').eq(PriorityCol)[0].innerText;
                debugger;
                $('#GateWarningWindow th:contains("Priority")').hide();
                $(this).find('td').eq(PriorityCol).hide();
                switch (cellData) {
                    case '0':
                        $(this).addClass("WarningRow");
                        break;
                    case '100':
                        $(this).addClass("AlarmRow").addClass("HideAlarm");
                        break;
                    default:
                        break;
                }
            });
        }
    };

    function refresh_update(data, cid) {
        // put any other js here that needs to be executed on every server tag update
        update_labels();
        $('#imageinfoid').css('visibility', 'hidden');
    }

</script>
<!--Because jquery syntax does not like razor tags, input will be used instead-->
<!--NOTE: OPC tag values that are BOOLEANS will show a button image; all other values will show text-->
<input type="hidden" id="txtScreenNumber" value='@TempData["CIDMaxScreens"]' />
<div id="GateWindow" opc-tag-bkg='{"type":"group","all_f":{"cls":"AutoLevelingFalse"},"bad_q":{"cls":"AutoLevelingFalse"},"group":[
            {"tag":"AUTOLEVELMODEFLAG.Value","config":{"cls":"AutoLevelingTrue"}}

     ]}'>
    <div class="gatesPageDividerLeft">
        <table>
            <tr>
                <td>
                    <table class="pointsTable" id="tblPoints">
                        <tr class="pointsTableRowHeader">
                            <th class="pointsTableHeader">Point</th>
                            <th class="pointsTableHeader">Value</th>
                        </tr>
                        <tr>
                            <td><span id='spnPBBStatusTitle' opc-tag-txt='{"tag":"AUTOLEVELKEY.Description"}'>Loading...</span></td>
                            <td class="pointsTableDataCells">
                                <button id="btnPBBStatus"
                                        opc-tag-bkg='
                                        {"type":"group",
                                            "all_f":{"cls":"btnGray"},"bad_q":{"cls":"btnGray"},
                                            "group":[
                                                {"tag":"AUTOLEVELKEY.Value","config":{"cls":"btnGreen"}}
                                            ]
                                        }'>
                                    <span id='spnPBBStatus' opc-tag-txt='{"tag":"PBB.PBB_IN_OPER_MODE.Value","config":{"formats":{"bad_q":"Bad Data","bool_f":"Not Ready","bool_t":"Ready/OK"}}}'>Loading...</span>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td><span id='spnPBBModeTitle' opc-tag-txt='{"tag":"AUTOLEVELMODEFLAG.Description"}'>Loading...</span></td>
                            <td class="pointsTableDataCells">
                                <button id="btnPBBMode"
                                        opc-tag-bkg='
                                            {"type":"group",
                                                "all_f":{"cls":"btnGray"},"bad_q":{"cls":"btnGray"},
                                                "group":[
                                                    {"tag":"AUTOLEVELMODEFLAG.Value","config":{"cls":"btnGreen"}},
                                                    {"tag":"AUTOLEVELKEY.Value","config":{"cls":"btnBlue"}}
                                                ]
                                            }'>
                                    Loading...
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td><span id='spnEStopTitle' opc-tag-txt='{"tag":"Alarm.E_STOP.Description"}'>Loading...</span></td>
                            <td class="pointsTableDataCells">
                                <button id="btnEStop"
                                        opc-tag-bkg='
                                            {"type":"group",
                                                "all_f":{"cls":"btnGray"},"bad_q":{"cls":"btnGray"},
                                                "group":[
                                                    {"tag":"Alarm.E_STOP.Value","config":{"cls":"btnRed"}}
                                                ]
                                            }'>
                                    <span id='spnEStop' opc-tag-txt='{"tag":"Alarm.E_STOP.Value","config":{"formats":{"bad_q":"Bad Data","bool_f":"Ready/OK","bool_t":"Activated"}}}'>Loading...</span>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td><span id='spnAutoLevelTitle' opc-tag-txt='{"tag":"AUTOLEVELOK.Description"}'>Loading...</span></td>
                            <td class="pointsTableDataCells">
                                <button id="btnAutoLevel"
                                        opc-tag-bkg='
                                            {"type":"group",
                                                "all_f":{"cls":"btnGray"},"bad_q":{"cls":"btnGray"},
                                                "group":[
                                                    {"tag":"AUTOLEVELMODEFLAG.Value","config":{"cls":"btnGreen"}},
                                                    {"tag":"AUTOLEVELOK.Value","config":{"cls":"btnGray"}}
                                                ]
                                            }'>
                                    Loading...
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td><span id='spnCanopyTitle' opc-tag-txt='{"tag":"Warning.CANOPYDOWN.Description"}'>Loading...</span></td>
                            <td class="pointsTableDataCells">
                                <button id="btnCanopy"
                                        opc-tag-bkg='
                                            {"type":"group",
                                                "all_f":{"cls":"btnGray"},"bad_q":{"cls":"btnGray"},
                                                "group":[
                                                    {"tag":"Warning.CANOPYDOWN.Value","config":{"cls":"btnGreen"}}
                                                ]
                                            }'>
                                    <span id="spnCanopy" opc-tag-txt='{"tag":"Warning.CANOPYDOWN.Value","config":{"formats":{"bad_q":"Bad Data","bool_f":"Retracted","bool_t":"Extended"}}}'>Loading...</span>

                                </button>
                            </td>
                        </tr>
                        @*<tr>
                            <td><span id='spnCableHoistTitle' opc-tag-txt='{"tag":"GPU.HZ400CABLEDEPLOYED.Description"}'>Loading...</span></td>
                            <td class="pointsTableDataCells">
                                <button id="btnCableHoist"
                                        opc-tag-bkg='
                                            {"type":"group",
                                                "all_f":{"cls":"btnGray"},"bad_q":{"cls":"btnGray"},
                                                "group":[
                                                    {"tag":"GPU.HZ400CABLEDEPLOYED.Value","config":{"cls":"btnGreen"}}
                                                ]
                                            }'>
                                    <span id='spnCableHoist' opc-tag-txt='{"tag":"GPU.HZ400CABLEDEPLOYED.Value","config":{"formats":{"bad_q":"Bad Data","bool_f":"Ready/OK","bool_t":"Retracted"}}}'>Loading...</span>
                                </button>
                            </td>
                        </tr>*@
                        <tr>
                            <td><span id='spnCabinFloorDeicerTitle' opc-tag-txt='{"tag":"CABFLOORDEICER.Description"}'>Loading...</span></td>
                            <td class="pointsTableDataCells">
                                <button id="btnCabinFloorDeicer"
                                        opc-tag-bkg='
                                            {"type":"group",
                                                "all_f":{"cls":"btnGray"},"bad_q":{"cls":"btnGray"},
                                                "group":[
                                                    {"tag":"CABFLOORDEICER.Value","config":{"cls":"btnGreen"}}
                                                ]
                                            }'>
                                    <span id='spnCabinFloorDeicer' opc-tag-txt='{"tag":"CABFLOORDEICER.Value","config":{"formats":{"bad_q":"Bad Data","bool_f":"Off","bool_t":"On"}}}'>Loading...</span>
                                </button>
                            </td>
                        </tr>


                        @*<tr>
                            <td><span id='spnGPUTitle' opc-tag-txt='{"tag":"GPU.GPU28V.Description"}'>Loading...</span></td>
                            <td class="pointsTableDataCells">
                                <button id="btnGPU"
                                        opc-tag-bkg='
                                            {"type":"group",
                                                "all_f":{"cls":"btnGray"},"bad_q":{"cls":"btnGray"},
                                                "group":[
                                                    {"tag":"GPU.GPU28V.Value","config":{"cls":"btnGreen"}}
                                                ]
                                            }'>
                                    <span id='spnGPU' opc-tag-txt='{"tag":"GPU.GPU28V.Value","config":{"formats":{"bad_q":"Bad Data","bool_f":"Off","bool_t":"On","string":"{0}"}}}'>Loading...</span>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td><span id='spn400HzInterlockTitle' opc-tag-txt='{"tag":"GPU.INTRLCK400HZ.Description"}'>Loading...</span></td>
                            <td class="pointsTableDataCells">
                                <button id="btn400HzInterlock"
                                        opc-tag-bkg='
                                            {"type":"group",
                                                "all_f":{"cls":"btnGray"},"bad_q":{"cls":"btnGray"},
                                                "group":[
                                                    {"tag":"GPU.INTRLCK400HZ.Value","config":{"cls":"btnGreen"}}
                                                ]
                                            }'>
                                    <span id='spn400HzInterlock' opc-tag-txt='{"tag":"GPU.INTRLCK400HZ.Value","config":{"formats":{"bad_q":"Bad Data","bool_f":"Deactivated","bool_t":"Activated","string":"{0}"}}}'>Loading...</span>
                                </button>
                            </td>
                        </tr>*@

                        <tr>
                            <td><span id='spnLimitBypassPBTitle' opc-tag-txt='{"tag":"BYPASSPB.Description"}'>Loading...</span></td>
                            <td class="pointsTableDataCells">
                                <button id="btnLimitBypassPB"
                                        opc-tag-bkg='
                                            {"type":"group",
                                                "all_f":{"cls":"btnGray"},"bad_q":{"cls":"btnGray"},
                                                "group":[
                                                    {"tag":"BYPASSPB.Value","config":{"cls":"btnGreen"}}
                                                ]
                                            }'>
                                    <span id='spnLimitBypassPB' opc-tag-txt='{"tag":"BYPASSPB.Value","config":{"formats":{"bad_q":"Bad Data","bool_f":"Deactive","bool_t":"Active","string":"{0}"}}}'>Loading...</span>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td><span id='spnAutoLevelingTitle' opc-tag-txt='{"tag":"AUTOLEVELING.Description"}'>Loading...</span></td>
                            <td class="pointsTableDataCells">
                                <button id="btnAutoLeveling"
                                        opc-tag-bkg='
                                            {"type":"group",
                                                "all_f":{"cls":"btnGray"},"bad_q":{"cls":"btnGray"},
                                                "group":[
                                                    {"tag":"AUTOLEVELING.Value","config":{"cls":"btnGreen"}}
                                                ]
                                            }'>
                                    <span id='spnAutoLeveling' opc-tag-txt='{"tag":"AUTOLEVELING.Value","config":{"formats":{"bad_q":"Bad Data","bool_t":"Deactivated","bool_f":"Activated"}}}'>Loading...</span>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td><span id='spnSmokeDetectorTitle' opc-tag-txt='{"tag":"SMOKEDETECTOR.Description"}'>Loading...</span></td>
                            <td class="pointsTableDataCells">
                                <button id="btnSmokeDetector" opc-tag-bkg='{"type":"group","all_f":{"cls":"btnGreen"},"bad_q":{"cls":"btnGray"},"group":[{"tag":"SMOKEDETECTOR.Value","config":{"cls":"btnGray"}}]}'>
                                    <span id='spnSmokeDetector' opc-tag-txt='{"tag":"SMOKEDETECTOR.Value","config":{"formats":{"bad_q":"Bad Data","bool_f":"Activated","bool_t":"Ready/OK"}}}'>Loading...</span>
                                </button>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    @*<button id="btnAlarms" opc-tag-bkg='{
                                "type":"group",
                                "all_f":{"cls":"btnInvisible"},
                                "bad_q":{"cls":"btnGray"},
                                "group":[
                                    {"tag":"Alarm._HasAlarms.Value","config": {"cls":"redFlashingBackground"}},
                                    {"tag":"Warning._HasWarnings.Value","config": {"cls":"yellowFlashingBackground"}}
                                ]}' opc-tag-txt='{"tag":"Alarm._Count.Value","config":{"formats":{"bad_q":"Click here to view alarms (Bad Data)","string":"Alarms ({0})"}}}'>
                             Alarms
                        </button>*@
                    <button id="btnAlarms" opc-tag-bkg='{
                            "type":"group",
                            "all_f":{"cls":"btnInvisible"},
                            "bad_q":{"cls":"btnGray"},
                            "group":[
                                {"tag":"Alarm._HasAlarms.Value","config": {"cls":"redFlashingBackground"}}
                            ]}' opc-tag-txt='{"tag":"Alarm._Count.Value","config":{"formats":{"bad_q":"Alarms (Bad Data)","string":"Alarms ({0})"}}}'>
                        Alarms
                    </button>
                    <button id="btnWarnings" opc-tag-bkg='{
                            "type":"group",
                            "all_f":{"cls":"btnInvisible"},
                            "bad_q":{"cls":"btnGray"},
                            "group":[
                                {"tag":"Warning._HasWarnings.Value","config": {"cls":"yellowFlashingBackground"}}
                            ]}' opc-tag-txt='{"tag":"Warning._Count.Value","config":{"formats":{"bad_q":"Warnings (Bad Data)","string":"Warnings ({0})"}}}'>
                        Warnings
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <div class="gatesPageDividerRight">
        <button id="gpuLinkButtonInGateScreen">Go to GPU</button>
        <button id="pcaLinkButtonInGateScreen">Go to PCA</button>

        <div id="movementContainer">
            @*<img id="imgHorizMovement" src="Content/Themes/JFK/ver%201.0.0/Images/DirectionalArrows/Moving-Arrow-NotReady-rev-1.00.gif" width="115" style="display:none;" />
                <img id="imgVertMovement" src="Content/Themes/JFK/Ver%201.0.0/Images/DirectionalArrows/UpDown-Arrow-NotReady-Rev-1.00.gif" width="75" />*@
        </div>
        <table class="pointsTable" id="tblGatePoints" style="display:none;">
        <tr class="pointsTableRowHeader">
            <th class="pointsTableHeader">Point</th>
            <th class="pointsTableHeader">Value</th>
        </tr>
        <tr>
            <td>Movement</td>
            <td class="pointsTableDataCells"></td>
        </tr>
        <tr>
            <td><span id="spnVertUpCmdTitle" opc-tag-txt='{"tag":"VERT_UP_CMD.Description"}'>Loading...</span></td>
            <td class="pointsTableDataCells">
                <button id="btnVertUpCmd" opc-tag-bkg='{"type":"group","all_f":{"cls":"btnRed"},"bad_q":{"cls":"btnGray"},"group":[{"tag":"VERT_UP_CMD.Value","config":{"cls":"btnGreen"}}]}'><span id="spnVertUpCmd" opc-tag-txt='{"tag":"VERT_UP_CMD.Value","config":{"formats":{"bad_q":"Bad Data","bool_f":"False","bool_t":"True"}}}'>Loading...</span></button>
            </td>
        </tr>
        <tr>
            <td><span id="spnVertUpLimitFlagTitle" opc-tag-txt='{"tag":"Warning.VERT_UP_LIMIT_FLAG.Description"}'>Loading...</span></td>
            <td class="pointsTableDataCells">
                <button id="btnVertUpLimitFlag" opc-tag-bkg='{"type":"group","all_f":{"cls":"btnRed"},"bad_q":{"cls":"btnGray"},"group":[{"tag":"Warning.VERT_UP_LIMIT_FLAG.Value","config":{"cls":"btnGreen"}}]}'><span id="spnVertUpLimitFlag" opc-tag-txt='{"tag":"Warning.VERT_UP_LIMIT_FLAG.Value","config":{"formats":{"bad_q":"Bad Data","bool_f":"False","bool_t":"True"}}}'>Loading...</span></button>
            </td>
        </tr>
        <tr>
            <td><span id="spnVertUpUltFlagTitle" opc-tag-txt='{"tag":"Alarm.VERT_UP_ULT_FLAG.Description"}'>Loading...</span></td>
            <td class="pointsTableDataCells">
                <button id="btnVertUpUltFlag" opc-tag-bkg='{"type":"group","all_f":{"cls":"btnRed"},"bad_q":{"cls":"btnGray"},"group":[{"tag":"Alarm.VERT_UP_ULT_FLAG.Value","config":{"cls":"btnGreen"}}]}'><span id="spnVertUpUltFlag" opc-tag-txt='{"tag":"Alarm.VERT_UP_ULT_FLAG.Value","config":{"formats":{"bad_q":"Bad Data","bool_f":"False","bool_t":"True"}}}'>Loading...</span></button>
            </td>
        </tr>
        <tr>
            <td><span id="spnVertDnCmdTitle" opc-tag-txt='{"tag":"VERT_DN_CMD.Description"}'>Loading...</span></td>
            <td class="pointsTableDataCells">
                <button id="btnVertDnCmd" opc-tag-bkg='{"type":"group","all_f":{"cls":"btnRed"},"bad_q":{"cls":"btnGray"},"group":[{"tag":"VERT_DN_CMD.Value","config":{"cls":"btnGreen"}}]}'><span id="spnVertDnCmd" opc-tag-txt='{"tag":"VERT_DN_CMD.Value","config":{"formats":{"bad_q":"Bad Data","bool_f":"False","bool_t":"True"}}}'>Loading...</span></button>
            </td>
        </tr>
        <tr>
            <td><span id="spnVertDnLimitFlagTitle" opc-tag-txt='{"tag":"Warning.VERT_DN_LIMIT_FLAG.Description"}'>Loading...</span></td>
            <td class="pointsTableDataCells">
                <button id="btnVertDnLimitFlag" opc-tag-bkg='{"type":"group","all_f":{"cls":"btnRed"},"bad_q":{"cls":"btnGray"},"group":[{"tag":"Warning.VERT_DN_LIMIT_FLAG.Value","config":{"cls":"btnGreen"}}]}'><span id="spnVertDnLimitFlag" opc-tag-txt='{"tag":"Warning.VERT_DN_LIMIT_FLAG.Value","config":{"formats":{"bad_q":"Bad Data","bool_f":"False","bool_t":"True","float":"0.000","int":"0","string":"{0}"}}}'>Loading...</span></button>
            </td>
        </tr>
        <tr>
            <td><span id="spnVertDnUltFlagTitle" opc-tag-txt='{"tag":"Alarm.VERT_DN_ULT_FLAG.Description"}'>Loading...</span></td>
            <td class="pointsTableDataCells">
                <button id="btnVertDnUltFlag" opc-tag-bkg='{"type":"group","all_f":{"cls":"btnRed"},"bad_q":{"cls":"btnGray"},"group":[{"tag":"Alarm.VERT_DN_ULT_FLAG.Value","config":{"cls":"btnGreen"}}]}'><span id="spnVertDnUltFlag" opc-tag-txt='{"tag":"Alarm.VERT_DN_ULT_FLAG.Value","config":{"formats":{"bad_q":"Bad Data","bool_f":"False","bool_t":"True","float":"0.000","int":"0","string":"{0}"}}}'>Loading...</span></button>
            </td>
        </tr>
    </table>
        <div id="imageinfoid">
            <p id="cabangle">
                <span id='cabangletitle' opc-tag-txt='{"tag":"PBB.CABANGLEDISP.Description"}'>Loading..</span>
                <span id='cabangleval' opc-tag-txt='{"tag":"PBB.CABANGLEDISP.Value","config":{"formats":{"bad_q":"Bad Data","float":"0.000","string":"{0}"},"offset":0}}'>Loading..</span>
            </p>
            <p id="slope">
                <span id='slopetitle' opc-tag-txt='{"tag":"PBB.SLOPEDEG.Description"}'>Loading..</span>
                <span id='slopeval' opc-tag-txt='{"tag":"PBB.SLOPEDEG.Value","config":{"formats":{"bad_q":"Bad Data","int":"0","string":"{0}"},"offset":0}}'>Loading..</span>
            </p>
            <p id="bridge">
                <span id='bridgerotationtitle' opc-tag-txt='{"tag":"PBB.SWINGANGLEDISP.Description"}'>Loading..</span>
                <span id='bridgerotationval' opc-tag-txt='{"tag":"PBB.SWINGANGLEDISP.Value","config":{"formats":{"bad_q":"Bad Data","float":"0.000","string":"{0}"},"offset":0}}'>Loading..</span>
            </p>
            <p id="heightofbridge">
                <span id='heightofbridgetitle' opc-tag-txt='{"tag":"PBB.HEIGHTTODISP.Description"}'>Loading..</span>
                <span id='heightofbridgeval' opc-tag-txt='{"tag":"PBB.HEIGHTTODISP.Value","config":{"formats":{"bad_q":"Bad Data","float":"0.000","string":"{0}"},"offset":0}}'>Loading..</span>
            </p>
            <p id="wheelbogieangle">
                <span id='wheelbogieangletitle' opc-tag-txt='{"tag":"PBB.WHEELANGLEDEG.Description"}'>Loading..</span>
                <span id='wheelbogieangleval' opc-tag-txt='{"tag":"PBB.WHEELANGLEDEG.Value","config":{"formats":{"bad_q":"Bad Data","int":"0","string":"{0}"},"offset":0}}'>Loading..</span>
            </p>
            <p id="extensionofbridge">
                <span id='extensionofbridgetitle' opc-tag-txt='{"tag":"PBB.HORIZTODISP.Description"}'>Loading..</span>
                <span id='extensionofbridgeval' opc-tag-txt='{"tag":"PBB.HORIZTODISP.Value","config":{"formats":{"bad_q":"Bad Data","float":"0.000","string":"{0}"},"offset":0}}'>Loading..</span>
            </p>
        </div>
    </div>
    <div id="GateAlarmWindow">
        <div id="GateAlarms"></div>

    </div>
    <div id="GateWarningWindow">
        <div id="GateWarnings"></div>

    </div>

</div>

