﻿<script>
    $(document).ready(function () {
        $("#ServiceCountersWindow").kendoWindow({
            title: "Gate @TempData["GateLabel"] - Service Counters",
            draggable: false,
            modal: false,
            width: $("#splitter").width() - 244,
            height: $(".splitter-main").height() - 33,
            position: {
                top: $("#Header").height() + 2,
                left: 246
            },
            resizable: false,
            actions: ["Custom"]
        });

        //delete the SignIn kendoWindow once loaded
        if ($('#pageData').is(':visible')) {
            $('#pageData').data('kendoWindow').destroy();
        }

        //if the splitter is already collapsed, expand the main window
        if ($('.splitter-stats').width() < 200) {
            $('body').find('.k-window').css('width', '+=200');
            $('body').find('.k-window').css('left', '-=200');
        }

        //removes the default custom icon for the kendo window
        $('a.k-window-action.k-link').find('span').css("background-image", "url('#')");


        //adds an ID attribute to each custom icon to allow unique functionality
        $('a.k-window-action.k-link').each(function (index) {
            $(this).attr('id', 'serviceCountersWindowLink' + index);
        });


        //up arrow (Airport screen)
        $('#serviceCountersWindowLink0').click(function (e) {
            $.ajax({
                url: '@Url.Action("ShowGates", "Gate", new { area = "Gate", gateNum = TempData["GateNumber"] })',
                type: "GET",
                contentType: 'text/html',
                success: function (data) {
                    CloseKendoServiceCounters();
                    $('#main-body').html(data);
                }
            });
        })

        $('#gateLinkButtonInServiceCountersScreen, #gateLink').click(function (e) {
            $.ajax({
                url: '@Url.Action("ShowGates", "Gate", new { area = "Gate", gateNum = TempData["GateNumber"] })',
                type: "GET",
                contentType: 'text/html',
                success: function (data) {
                    CloseKendoServiceCounters();
                    $('#main-body').html(data);
                }
            });
        });

    })

    function CloseKendoServiceCounters() {
        if ($('#ServiceCountersWindow').is(':visible')) {
            $('#ServiceCountersWindow').data('kendoWindow').destroy();
            return false;
        }
    }

    function buildServiceCounters() {
        var counters = [
            { tag: ".E_Stop", label: "E-Stop", id: "E_Stop" },
            { tag: ".AutolevelModeflag", label: "Autolevel", id: "AutolevelModeflag" },
            { tag: ".ShoeConnected", label: "Autolevel (Backup)", id: "ShoeConnected" },
            { tag: ".CanopyDown", label: "Canopy", id: "CanopyDown" },
            { tag: ".Vertical Movement Count", label: "Vertical Movement", id: "VerticalMovementCount" },
            { tag: ".Horizontal Movement Count", label: "Horizontal Movement", id: "HorizontalMovementCount" },
            { tag: ".ServiceDoorInterlockFlag", label: "Front Shutter/Doors", id: "ServiceDoorInterlockFlag" },
            { tag: "_S", label: "Sensor/Photo Cells", id: "SensorPhotoCells" },
            { tag: "_R", label: "Roof Top AC Units", id: "RooftopACUnits" },
            { tag: ".MainConNotEnergized Count", label: "Power to Bridge", id: "MainConNotEnergizedCount" },
            { tag: "_U", label: "UPS Power Supply", id: "UPSPowerSupply" },
            { tag: ".RemoteLightingInd", label: "Bridge Lighting", id: "RemoteLightingInd" },
            { tag: ".SmokeDetector", label: "Fire Alarm System", id: "SmokeDetector" },
            { tag: ".VDGSInterlock", label: "VDGS Interlock", id: "VDGSInterlock" },
            { tag: ".PCAir_Pit_Interlock", label: "PCA Pit", id: "PCAir_Pit_Interlock" },
            { tag: ".Hz400_Pit_Interlock", label: "400hz Pit", id: "Hz400_Pit_Interlock" }
        ];

        tbl = $("#tblPoints.tblServiceCounters");
        for (var i = 0; i < counters.length; i++) {
            var c = counters[i];
            tbl.append($("<tr><td>" + c.label + "</td><td id='" + c.id + "_count' opc-tag-txt='{\"tag\":\"" + c.tag + "\.ValueCountTotal\"}'>--</td>" +
                            "<td id='" + c.id + "_ts' opc-tag-txt='{\"tag\":\"" + c.tag + ".Timestamp\"}'>--</td>" +
                            "<td class=\"pointsTableDataCells\"><button id=\"" + c.id + "\" class=\"btn btnGray\" opc-tag-set='{\"tag\":\"" + c.tag + " Reset.Value\", \"config\":{\"evt\":\"click\", \"set\":\"value\", \"set_value\":\"True\"}}'>Reset</button>" +
                            "</td></tr>"));
        }

        $("#btnScResetAll").click(function () {
            for (var i = 0; i < counters.length; i++) {
                var c = counters[i];
                if (c.tag != "") { OPC.set_value(c.tag + " Reset.Value", "True"); }
            }
        });
    }

    $(document).ready(function () {
        // set up gate prefix
        buildServiceCounters();
        OPC_config.serverURL = "http://localhost:58725";
        OPC_config.tag_prefix = 'Airport.SLL.Term1.Zone1.Gate @TempData["GateLabel"]';
        OPC.init(); //re-initialize HTML HMI engine after updating prefix
    });

</script>
<!--Because jquery syntax does not like razor tags, input will be used instead-->
<input type="hidden" id="txtScreenNumber" value='@TempData["CIDMaxScreens"]' />
<div id="ServiceCountersWindow" class="Window-Container ServiceCounters-Window">
    <ul>
        <li><a id="gateLink" class="hoverLinks" title="Go to Gate"></a></li>
    </ul>
    <div class="serviceCountersPageDividerLeft">
        <table>
            <tr>
                <td>
                    <table class="pointsTable tblServiceCounters" id="tblPoints">
                        <tr class="pointsTableRowHeader">
                            <th class="pointsTableHeader" style="text-align:left;">Point</th>
                            <th class="pointsTableHeader" style="text-align:left;">Count</th>
                            <th class="pointsTableHeader" style="text-align:left;white-space:nowrap;">Reset Date</th>
                            <th class="pointsTableHeader" style="text-align:center;"><button id="btnScResetAll" class="btn btnGray">Reset ALL</button></th>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>

    <div class="serviceCountersPageDividerRight">
            <button id="gateLinkButtonInServiceCountersScreen">Go to Gate</button>
    </div> 
</div>