﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "iOps 2014";
}
<script type="text/javascript" src="/OPCHTML/js/opc-lib-min.js"></script>
<link rel="stylesheet" type="text/css" href="/OPCHTML/css/opc-style.css" />
<script type="text/javascript">
    OPC_config =
        {
            auto_start: true,
        };
</script>
<body>
    <div id="GPUWindow" class="Window-Container GPU-Window">
        <table style="float:left;">
            <tr>
                <td>
                    Set Value
                    <div>
                        <button id="tog1"
                                opc-tag-set='{"tag":"Pump.Value","config":{"evt":"click","set":"toggle", "set_confirm":false, "set_confirm_msg":"This is a user defined message!", "set_confirm_title":"Hi! I am a Title!", "set_confirm_buttons":"yesno"}}'>
                            Toggle Pump
                        </button>
                        <button id="tog2"
                                opc-tag-set='{"tag":"Pump.Value","config":{"evt":"click","set":"toggle", "set_confirm":true}}'>
                            Toggle Confirm
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    Background
                    <div>
                        <input type="text" id="bg1"
                               opc-tag-bkg='{"type":"group","all_f":{"color":"#F00"},"bad_q":{"color":"#FC0"},"group":[{"tag":"Pump.Value","config":{"color":"#00F"}},{"tag":"Pump2.Value","config":{"color":"#080"}}]}' />
                    </div>
                </td>
                <td>
                    Background Flash
                    <div>
                        <input type="text" id="bg2" value="BLAH"
                               opc-tag-bkg-fl='{"tag":"Pump.Value","config":{"color":"transparent","rate":200,"repeat":5,"trigger":"on_true"}}' />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    Foreground
                    <div>
                        <input type="text" id="fg1" style="font-weight:bold;"
                               opc-tag-fg='{"type":"group","all_f":{"color":"#F00"},"bad_q":{"color":"#FC0"},"group":[{"tag":"Pump.Value","config":{"color":"#00F"}},{"tag":"Pump2.Value","config":{"color":"#080"}}]}' value="This is a test" />
                    </div>
                </td>
                <td>
                    Foreground Flash
                    <div>
                        <input type="text" id="fg2" style="font-weight:bold;"
                               opc-tag-bkg-fl='{"tag":"Pump.Value","config":{"color":"transparent","rate":200,"repeat":5,"trigger":"on_true"}}'
                               value="This is a test" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    Border
                    <div>
                        <input type="text" id="br1" style="border:solid 3px #666;"
                               opc-tag-brd='{"type":"group","all_f":{"color":"#F00"},"bad_q":{"color":"#FC0"},"group":[{"tag":"Pump.Value","config":{"color":"#00F"}},{"tag":"Pump2.Value","config":{"color":"#080"}}]}' />
                    </div>
                </td>
                <td>
                    Border Flash
                    <div>
                        <input type="text" id="br2" style="border:solid 3px #666;"
                               opc-tag-brd-fl='{"tag":"Pump.Value","config":{"color":"transparent","rate":200,"repeat":5,"trigger":"on_true"}}' />
                    </div>
                </td>
                <td>
                    All 3 Flash
                    <div>
                        <input type="text" id="br3" style="border:solid 3px #666;font-weight:bold;" value="All 3 Flashing"
                               opc-tag-fg-fl='{"tag":"Pump.Value","config":{"color":"#ff0","rate":200,"repeat":5,"trigger":"on_true"}}'
                               opc-tag-bkg-fl='{"tag":"Pump.Value","config":{"color":"#f00","rate":200,"repeat":5,"trigger":"on_true"}}'
                               opc-tag-brd-fl='{"tag":"Pump.Value","config":{"color":"#0ff","rate":200,"repeat":5,"trigger":"on_true"}}' />
                    </div>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    Text/Content
                    <div id="txt1" style="font-weight:bold;" opc-tag-txt='{"tag":"Ramp.Value"}'></div>
                </td>
                <td valign="top">
                    Text w/ formatting
                    <div id="txt2" style="font-weight:bold;"
                         opc-tag-txt='{"tag":"Ramp.Value","config":{"formats":{"bad_q":"????","bool_f":"False","bool_t":"True","float":"0.00","int":"0","string":"Value = {0}", "date":"yyyy-MM-dd HH:mm:ss"}}}'></div>
                    <div id="txt3" style="font-weight:bold;"
                         opc-tag-txt='{"tag":"Ramp3.Value","config":{"formats":{"bad_q":"????","bool_f":"False","bool_t":"True","float":"The number is: 000.00","int":"0","string":"Value = {0}", "date":"yyyy-MM-dd HH:mm:ss"}}}'></div>
                    <div id="txt4" style="font-weight:bold;"
                         opc-tag-txt='{"tag":"Pump.Value","config":{"formats":{"bad_q":"????","bool_f":"Nope","bool_t":"Yes!","float":"0.00","int":"0","string":"Value = {0}", "date":"yyyy-MM-dd HH:mm:ss"}}}'></div>
                </td>
                <td valign="top">
                    Tooltip
                    <div id="tt1" style="font-size:10px;border:dashed 1px #fff;width:100px;height:50px;"
                         opc-tag-tt='{"tag":"Ramp2.Value","config":{"formats":{"bad_q":"????","bool_f":"False","bool_t":"True","float":"0.0","int":"0","string":"Value = {0}", "date":"yyyy-MM-dd HH:mm:ss"}}}'>Hover for tooltip</div>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    Enabled
                    <div>
                        <input type="text" id="en1" value="Enabled/Disabled" style="font-weight:bold;"
                               opc-tag-en='{"tag":"Pump.Value","config":{"bad_q":false,"trigger":"on_true"}}' />
                    </div>
                </td>
                <td valign="top">
                    Opacity
                    <div>
                        <input type="text" id="op1" value="Opacity" style="font-weight:bold;"
                               opc-tag-op='{"tag":"Ramp2.Value","config":{"formats":{"bad_q":"1"},"gain":1}}' />
                    </div>
                </td>
                <td valign="top">
                    Visible
                    <div>
                        <input type="text" id="vis1" value="Visible" style="font-weight:bold;"
                               opc-tag-vis='{"tag":"Pump.Value","config":{"bad_q":true,"trigger":"on_true"}}' />
                    </div>
                </td>
            </tr>
            <tr>
                <td valign="top" colspan="3">
                    Positioning
                    <div style="width:220px;height:220px;position:relative;border:solid 2px #fff;">
                        <div id="pos1" style="width:10px;height:10px;background-color:#fc0;font-size:10px;box-shadow:0 0 8px 6px rgba(255,255,0,0.5);"
                             opc-tag-tx='{"tag":"Ramp3.Value", "config":{"formats":{"bad_q":"0"},"offset":"0", "gain":20}}'>
                        </div>

                        <div id="pos2" style="width:10px;height:10px;background-color:#0cf;font-size:10px;box-shadow:0 0 8px 6px rgba(0,255,255,0.5);"
                             opc-tag-tx='{"tag":"Random.Value", "config":{"formats":{"bad_q":"0"},"offset":"0", "gain":2}}'
                             opc-tag-ty='{"tag":"Random2.Value", "config":{"formats":{"bad_q":"0"},"offset":"0", "gain":200}}'>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</body>
