﻿<script>
    $(document).ready(function () {
        $("#AirportWindow").kendoWindow({
            title: "CID - Airport Overview",
            draggable: false,
            modal: false,
            width: $("#splitter").width() - 244,
            height: $(".splitter-main").height() - 33,
            position: {
                top: $("#Header").height() + 2,
                left: 246
            },
            resizable: false
        })

        //removes all buttons from kendo window
        $('.k-window-titlebar').find('.k-window-actions').css('visibility', 'hidden');

        //delete the SignIn kendoWindow once loaded
        if ($('#pageData').is(':visible')) {
            $('#pageData').data('kendoWindow').destroy();
        }


        //if the splitter is already collapsed, expand the main window
        if ($('.splitter-stats').width() < 200) {
            $('body').find('.k-window').css('width', '+=200');
            $('body').find('.k-window').css('left','-=200');
        }

        OPC_config = {
            token: '7e61b230-481d-4551-b24b-ba9046e3d8f2',
            serverURL: 'http://localhost:58725'
        };

        OPC.init(); //required for ajax calls in OPC
    })

    function CloseKendoAirport() {
        if ($('#AirportWindow').is(':visible')) {
            $('#AirportWindow').data('kendoWindow').destroy();
        }
    }

    function GoGate(gateNumber) {
        $.ajax({
            url: 'Gate/Gate/ShowGates',
            type: "GET",
            data: {
                gateNum: gateNumber
            },
            contentType: 'text/html',
            success: function (data) {
                CloseKendoAirport();
                $('#main-body').html(data);
                ChangeIcons2(gateNumber);
            }
        })
    }

    function ChangeIcons2(iconNum) {
        for (var b = 1; b <= $('#txtScreenNumber').val() ; b++) {
            $('.screen-icon1').removeClass('iconSelectedTop');
            $('.screen-icon1').addClass('iconNormalTop');

            if (b === iconNum) {
                $('.screen-icon' + (b + 1)).removeClass('iconNormalBottom');
                $('.screen-icon' + (b + 1)).addClass('iconSelectedBottom');
            }
            else {
                $('.screen-icon' + (b + 1)).removeClass('iconSelectedBottom');
                $('.screen-icon' + (b + 1)).addClass('iconNormalBottom');
            }
        }
    }


    function ChangePump() {
        OPC.set_value("Pump.Value", "toggle");
    }
</script>


<div id="AirportWindow" class="Window-Container Airport-Window">
    <ul>
        @for (var a = 1; a <= (int)TempData["CIDMaxScreens"] - 1; a++)
        {
            <li class='gate@(a)'><a id='gate@(a)' onclick='GoGate(@(a))'>Gate @a</a></li>
        }

        <!--<li class="gate1"><a id="gate1" onclick="GoGate(1)">Gate 1</a></li>
        <li class="gate2"><a id="gate2" onclick="GoGate(2)">Gate 2</a></li>
        <li class="gate3"><a id="gate3" onclick="GoGate(3)">Gate 3</a></li>
        <li class="gate4"><a id="gate4" onclick="GoGate(4)">Gate 4</a></li>
        <li class="gate5"><a id="gate5" onclick="GoGate(5)">Gate 5</a></li>
        <li class="gate6"><a id="gate6" onclick="GoGate(6)">Gate 6</a></li>-->
    </ul>

    <div id="test1" opc-tag-txt='{"tag":"Pump.Value","config":{"formats":{"bad_q":"?????","bool_f":"False","bool_t":"True"},"offset":0}}'
         onclick="ChangePump();"></div>
</div>
