﻿<script>
    $(document).ready(function () {
        var userWindow = $("#UserAdminData"),
            userLink = $("#UserAdminLink").bind('click', function () {
                userWindow.data('kendoWindow').open().toFront();
            });

        var onClose = function () {
            $("body").find(".k-window").each(function () {
                $(this).css({ display: 'block' });
            });
            //userWindow.data("kendoWindow").destroy();
        };

        if (!userWindow.data('kendoWindow')) {
            debugger;
            userWindow.kendoWindow({
                title: 'User Administration',
                animation: false,
                width: $("#splitter").width() - 244,
                height: $(".splitter-main").height() - 33,
                position: {
                    top: $("#Header").height() + 4,
                    left: 246
                },
                resizable: false,
                draggable: false,
                visible: false,
                actions: ["Close"],
                content: { url: '@Url.Action("Index", "Users", new { area = "Users" })'},
                close: onClose,
                open: function (e) {
                    $("body").find(".k-window").each(function () {
                        $(this).css({ display: 'none' });
                    });
                    $('.k-window-titlebar').find('.k-window-actions').css('visibility', 'visible');
                }
            })
        }
    });

    //UserAdminLink tooltip
    $('#UserAdminLink').kendoTooltip({
        width: 120,
        position: 'top'
    });

</script>


<ul id="menu">
    <li>
        <div id="menuIcon" class="Header-FlexGroup FlexContainer Flex-Column">
        </div>
        <ul style="right: 15px; width: 200px;top:7px;height:80px">
            <li>
                <div style="height:100%; padding: 10px; -ms-word-break: normal; word-break: normal; white-space: normal;background-color:#FFF6E8;border: 1px ridge black">
                    Welcome to iOps<br />
                    <a href='http://reporting.iopsnj.com/' target="_blank">Reporting</a><br />
                    <a id="UserAdminLink" title="User Administration Page">User Admin</a>
                    <br />
                    @Html.ActionLink("Log out", "SignOff", "account")
                    <div id="UserAdminData" style="display:none"></div>
                </div>
            </li>
        </ul>
    </li>
</ul>
