﻿@using System.Web.Configuration;

<div class="Header-FlexGroup FlexContainer Flex-Column">
    <div class="Header-ClientID FlexItem FlexItem-FlexOn FlexItem-AlignCenter">
        <p>
            <a class="Header-ClientID-WebLink" href='@System.Web.Configuration.WebConfigurationManager.AppSettings["ClientWebsite"]' target="_blank">
                <span class="HCW-Abbreviation">@WebConfigurationManager.AppSettings["ClientAbbreviation"]</span>
                <span class="HCW-Dash">-</span>
                <span class="HCW-Name">@WebConfigurationManager.AppSettings["ClientName"]</span>&nbsp;-&nbsp;@WebConfigurationManager.AppSettings["ClientShortName"]
                                
            </a>
        </p>
    </div>
    <div class="Header-iOpsStats FlexItem FlexItem-FlexOn FlexItem-AlignCenter">
        <ul>
            <li>
               
               
                @*<div class="No-Border" id="divValue1" opc-tag-txt='{"tag":"\\\\http:\\localhost:58724\\SouthWest.Channel1.PBB Gate 10.Alarm._Count.Value","config":{"formats":{"bad_q":"Bad Quality","string":"&lt;p&gt;{0} Active&lt;br /&gt;Alarms&lt;p/&gt;"}}, "ignore_prefix":true}'>Loading...</div>
            <div class="No-Border" id="divValue2" opc-tag-txt='{"tag":"\\\\localhost\\SouthWest.DAL.Term1.Zone1.Gate 10.PBB.Status.AUTOLEVELKEY.Value","config":{"formats":{"bad_q":"Bad Quality","string":"&lt;p&gt;{0} Active&lt;br /&gt;Warnings&lt;p/&gt;"}}, "ignore_prefix":true}'>Loading...</div>


    </li>
    <li><div class="No-Border" id="divValue2" opc-tag-txt='{"tag":"\\\\localhost\\SouthWest.DAL.Term1.Zone1.Gate 10.PBB.Status.AUTOLEVELKEY.Value","config":{"formats":{"bad_q":"Bad Quality","string":"&lt;p&gt;{0} Active&lt;br /&gt;Warnings&lt;p/&gt;"}}, "ignore_prefix":true}'>Loading...</div></li>*@
            <li><p>-</p></li>
            <li><p>-</p></li>
            <li><p>-</p></li>
            <li><p>-</p></li>
            <li><p>-</p></li>
        </ul>
    </div>
</div>

